<template>
  <div class="header p-r-0 bg-header">
  <div style="font-size:15px;height:30px;line-height:25px;background-color:#0B153C;">
  <div class="container" style="padding:0px;">
  <div class="row">
  <div class="col-md-4">
  Proov | webApp
  </div>
  <div class="col-md-8" style=" text-align: right;">
  <ul class="menu" style="font-size:inherit">
  <li><a href="/about-us/">About us</a></li>
  <li><a href="/vone-concept/">Vone concept</a></li>
  <li><a href="/vone-advantage/">Vone advantage</a></li>
  <li><a href="/vone-relationship/">Vone relationship</a></li>
  <li><a href="/social-media-and-blog/">Social media and blog</a></li>  
  </ul>
<span>English <i class="fa fa-globe"></i></span >


  </div>
  </div>
  </div>
  </div>
    <!--div class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row gutters">
                    <div class="col-3 text-left">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                <li>
                                    <div class="modal-instance">
                                        <a href="/social-media/" class="modal-trigger">Proov | Social media and blog</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9 text-right">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                <li>
                                    <div class="modal-instance">
                                        <a href="/about-us/" class="modal-trigger">About us</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="modal-instance">
                                        <a href="/vone-concept/" class="modal-trigger">Vone concept</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="modal-instance">
                                        <a href="/vone-advantage/" class="modal-trigger">Vone advantage</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="modal-instance">
                                        <a href="/vone-relationship/" class="modal-trigger">Vone relationship</a>
                                        
                                    </div>
                                </li>
                                <li>
                                    <div class="modal-instance">
                                        <a href="/social-media/" class="modal-trigger">Social media and blog</a>
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div-->
    <div class="container header-inner header-md-height no-padding">
      <div class="">
        <div class="brand inline no-border hidden-xs-down">
          <a href="/">
            <img src="/static/images/logo/logo_white.png" alt="logo" data-src="assets/img/logo_white.png" data-src-retina="assets/img/logo_white_2x.png" width="78" height="22">
          </a>
        </div>

      </div>
      <ul class="menu no-border">
        <li class="">
          <a href="/" class="active">Home</a>
        </li>
        <li class="horizontal">
          <a href="/buy/">Buyer</a>
        </li>
        <li class="">
          <a href="/rent/">Tenant </a>
        </li>
        <li class="">
          <a href="/sell/">Seller</a>
        </li>
        <li class="">
          <a href="/lease/">Lessor</a>
        </li>
      </ul>
      <div v-if="!auth.authenticated" class="d-flex align-items-center">
        <a class="btn btn-primary m-r-10" href="/login/">
Login
</a>
        <a class="btn btn-primary" href="/register/">
Register
</a>
      </div>
      <div v-if="auth.authenticated" class="d-flex align-items-center">

<div class="pull-left p-r-10 fs-14 font-text-complete hidden-md-down text-white">
<span class="semi-bold">David</span> <span class="">Nest</span>
</div>
<div class="dropdown pull-right">
<button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
<img src="/static/images/avatar/avatar.jpg" alt="" data-src="/static/images/avatar/avatar.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
</span>
</button>
<div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
<a href="/feeds" class="dropdown-item"><i class="fa fa-rss"></i> Feeds</a>
<a href="/analytics" class="dropdown-item"><i class="fa fa-line-chart"></i> Analytics</a>
<a href="/profile/property" class="dropdown-item"><i class="fa fa-home"></i> Property</a>
<a href="/profile/buy" class="dropdown-item"><i class="fa fa-building-o"></i> Buying proposal</a>
<a href="/profile/rent" class="dropdown-item"><i class="fa fa-building"></i> Renting proposal</a>
<a href="/profile/edit" class="dropdown-item"><i class="fa fa-user-plus"></i> Profile edit</a>
<a href="javascript:;" @click.prevent="logout" class="clearfix bg-master-lighter dropdown-item">
<span class="pull-left">Logout</span>
<span class="pull-right"><i class="fa fa-power-off"></i></span>
</a>
</div>
</div>

<ul class="hidden-md-down notification-list no-margin hidden-sm-down no-style">
<li class="p-r-10 inline">
<div class="dropdown">
<a href="javascript:;" id="notification-center" class="fa fa-bell-o fa-lg" data-toggle="dropdown" aria-expanded="true">
<span class="bubble"></span>
</a>

<div class="dropdown-menu notification-toggle" role="menu" aria-labelledby="notification-center">

<div class="notification-panel">

<div class="scroll-wrapper notification-body scrollable" style="position: relative;"><div class="notification-body scrollable scroll-content" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 343px;">

<div class="notification-item unread clearfix">

<div class="heading open">
<a href="#" class="text-complete pull-left">
<i class="pg-map fs-16 m-r-10"></i>
<span class="bold">Carrot Design</span>
<span class="fs-12 m-l-10">David Nester</span>
</a>
<div class="pull-right">
<div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
<div><i class="fa fa-angle-left"></i>
</div>
</div>
<span class=" time">few sec ago</span>
</div>
<div class="more-details">
<div class="more-details-inner">
<h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br>
distinguishes between <br>
A leader and a follower.”</h5>
<p class="small hint-text">
Commented on john Smiths wall.
<br> via pages framework.
</p>
</div>
</div>
</div>


<div class="option" data-toggle="tooltip" data-placement="left" title="" data-original-title="mark as read">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item  clearfix">
<div class="heading">
<a href="#" class="text-danger pull-left">
<i class="fa fa-exclamation-triangle m-r-10"></i>
<span class="bold">98% Server Load</span>
<span class="fs-12 m-l-10">Take Action</span>
</a>
<span class="pull-right time">2 mins ago</span>
</div>

<div class="option">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item  clearfix">
 <div class="heading">
<a href="#" class="text-warning-dark pull-left">
<i class="fa fa-exclamation-triangle m-r-10"></i>
<span class="bold">Warning Notification</span>
<span class="fs-12 m-l-10">Buy Now</span>
</a>
<span class="pull-right time">yesterday</span>
</div>

<div class="option">
<a href="#" class="mark"></a>
</div>

</div>


<div class="notification-item unread clearfix">
<div class="heading">
<div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
<img width="30" height="30" data-src-retina="assets/img/profiles/1x.jpg" data-src="assets/img/profiles/1.jpg" alt="" src="assets/img/profiles/1.jpg">
</div>
<a href="#" class="text-complete pull-left">
<span class="bold">Revox Design Labs</span>
<span class="fs-12 m-l-10">Owners</span>
</a>
<span class="pull-right time">11:00pm</span>
</div>

<div class="option" data-toggle="tooltip" data-placement="left" title="" data-original-title="mark as read">
<a href="#" class="mark"></a>
</div>

</div>

</div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 96px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 95px; top: 0px;"></div></div></div></div>


<div class="notification-footer text-center">
<a href="#" class="">Read all notifications</a>
<a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="#">
<i class="pg-refresh_new"></i>
</a>
</div>

</div>

</div>

</div>
</li>
<!--li class="p-r-10 inline">
<a href="#" class="fa fa-cog fa-lg"></a>
</li-->
</ul>

<a href="#" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block" data-toggle="quickview" data-toggle-element="#quickview"></a>
</div>
    </div>
    <div v-if="context === 'dashboard'" class="bg-white">
      <div class="container">
        <div class="menu-bar header-sm-height" data-pages-init="horizontal-menu" data-hide-extra-li="4">
          <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
          </a>
          <ul>
            <li class=" active">
              <a href="/feeds">Feeds</a>
            </li>
            <li>
              <a href="/analytics"><span class="title">Analytics</span></a>
            </li>
            <li>
              <a href="javascript:;"><span class="title">Profile edit</span>
<span class=" arrow"></span></a>
              <ul class="">
                <li class="">
                  <a href="/profile/edit/information">Information</a>
                </li>
                <li class="">
                  <a href="/profile/edit/contact">Contact</a>
                </li>
                <li class="">
                  <a href="/profile/edit/role">Role</a>
                </li>
                <li class="">
                  <a href="/profile/edit/password">Password</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;"><span class="title">Property</span>
<span class=" arrow"></span></a>
              <ul class="">
                <li class="">
                  <a href="/profile/property/list">List of properties</a>
                </li>
                <li class="">
                  <a href="/profile/property/new">New property</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">
                <span class="title">Buying proposal</span>
                <span class=" arrow"></span>
              </a>
              <ul class="">
                <li class="">
                  <a href="/buy/list">List of buying</a>
                </li>
                <li class="">
                  <a href="/profile/buy/new">New buying</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="javascript:;">
                <span class="title">Renting proposal</span>
                <span class=" arrow"></span>
              </a>
              <ul class="">
                <li class="">
                  <a href="/rent/list">List of renting</a>
                </li>
                <li class="">
                  <a href="/profile/rent/new">New renting</a>
                </li>
              </ul>
            </li>
            <li style="display: none;">
              <a href="views.html">
                <span class="title">Views</span>
              </a>
            </li>
            <li style="display: none;">
              <a href="javascript:;"><span class="title">Tables</span>
<span class=" arrow"></span></a>
              <ul class="">
                <li class="">
                  <a href="tables.html">Basic Tables</a>
                </li>
                <li class="">
                  <a href="datatables.html">Data Tables</a>
                </li>
              </ul>
            </li>
            <li style="display: none;">
              <a href="javascript:;"><span class="title">Maps</span>
<span class=" arrow"></span></a>
              <ul class="">
                <li class="">
                  <a href="google_map.html">Google Maps</a>
                </li>
                <li class="">
                  <a href="vector_map.html">Vector Maps</a>
                </li>
              </ul>
            </li>
            <li style="display: none;">
              <a href="charts.html"><span class="title">Charts</span></a>
            </li>
            <li style="display: none;">
              <a href="javascript:;"><span class="title">Extra</span>
<span class=" arrow"></span></a>
              <ul class="">
                <li class="">
                  <a href="invoice.html">Invoice</a>
                </li>
                <li class="">
                  <a href="404.html">404 Page</a>
                </li>
                <li class="">
                  <a href="500.html">500 Page</a>
                </li>
                <li class="">
                  <a href="blank_template.html">Blank Page</a>
                </li>
                <li class="">
                  <a href="login.html">Login</a>
                </li>
                <li class="">
                  <a href="register.html">Register</a>
                </li>
                <li class="">
                  <a href="lock_screen.html">Lockscreen</a>
                </li>
                <li class="">
                  <a href="gallery.html">Gallery</a>
                </li>
                <li class="">
                  <a href="timeline.html">Timeline</a>
                </li>
              </ul>
            </li>
            <li class="more"><a href="javascript:;"><span class="title"><i class="pg pg-more"></i></span></a>
              <ul>
                <li>
                  <a href="views.html">
                    <span class="title">Views</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;"><span class="title">Tables</span>
<span class=" arrow"></span></a>
                  <ul class="sub-menu">
                    <li class="">
                      <a href="tables.html">Basic Tables</a>
                    </li>
                    <li class="">
                      <a href="datatables.html">Data Tables</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:;"><span class="title">Maps</span>
<span class=" arrow"></span></a>
                  <ul class="sub-menu">
                    <li class="">
                      <a href="google_map.html">Google Maps</a>
                    </li>
                    <li class="">
                      <a href="vector_map.html">Vector Maps</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="charts.html"><span class="title">Charts</span></a>
                </li>
                <li>
                  <a href="javascript:;"><span class="title">Extra</span>
<span class=" arrow"></span></a>
                  <ul class="sub-menu">
                    <li class="">
                      <a href="invoice.html">Invoice</a>
                    </li>
                    <li class="">
                      <a href="404.html">404 Page</a>
                    </li>
                    <li class="">
                      <a href="500.html">500 Page</a>
                    </li>
                    <li class="">
                      <a href="blank_template.html">Blank Page</a>
                    </li>
                    <li class="">
                      <a href="login.html">Login</a>
                    </li>
                    <li class="">
                      <a href="register.html">Register</a>
                    </li>
                    <li class="">
                      <a href="lock_screen.html">Lockscreen</a>
                    </li>
                    <li class="">
                      <a href="gallery.html">Gallery</a>
                    </li>
                    <li class="">
                      <a href="timeline.html">Timeline</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <a href="#" class="search-link d-flex justify-content-between align-items-center hidden-lg-up" data-toggle="search">Tap here to search <i class="pg-search float-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  /* ============
   * Menu Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'menu-layout',

    props: {
      context: {
        type: String,
        default: 'default'
      }
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      }
    },
    computed: {
      auth: function () {
        let auth = this.$store.state.auth
        return auth
      }
    }
  }
</script>