<template>
  <div v-show="false" class="alert alert-success alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading">{{ message.field }}</h4>
    <p>{{ message.message }}.</p>
  </div>
</template>

<script>
  import numeral from 'numeral'
  /* ============
   * Numeral Input Component
   * ============
   *
   * A basic input componenet.
   *
   */

  export default {
    /**
     * The name of the component.
     */
    name: 'message',

    /**
     * The properties that the component accepts.
     */
    props: {
      show: {
        type: Boolean,
        default: false
      },
      message: {
        type: String,
        default: ''
      }
    },

    created: function () {
      // `this` points to the vm instance
      console.log(this.show)
      // this.formatValue(this.$props.value)
      // this.$refs.input.value = numeral(this.$props.value).format(this.$props.format)
    },

    mounted: function () {
      this.formatValue()
    },

    /**
     * The method properties that the component can use.
     */
    methods: {
      /**
       * Computed property which will compute the classes
       * for the header of the card.
       *
       * @returns {Array} The classes for the header.
       */
      updateValue: function (value) {
        const number = +value.replace(/[^\d.,]/g, '')
        this.$emit('input', isNaN(number) ? 0 : parseFloat(number.toFixed(2)))
      },
      formatValue: function (value) {
        // this.$refs.input.value = numeral(this.value).format(this.$props.format)
      },
      selectAll: function (event) {
        // Workaround for Safari bug
        // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
        setTimeout(function () {
          event.target.select()
          event.target.value = numeral(event.target.value).value()
        }, 200)
      }
    }
  }
</script>
