<template>
  <div>
  <input ref="input" type="text" v-bind:value="value" :class="className" :placeholder="placeholderValue" v-on:input="updateValue($event.target.value)" v-on:focus="selectAll" v-on:blur="formatValue" />
  </div>
</template>

<script>
  import numeral from 'numeral'
  /* ============
   * Numeral Input Component
   * ============
   *
   * A basic input componenet.
   *
   */

  export default {
    /**
     * The name of the component.
     */
    name: 'numeralInput',

    /**
     * The properties that the component accepts.
     */
    props: {
      value: {
        type: Number
      },
      className: {
        type: String,
        default: ''
      },
      format: {
        type: String,
        default: '0,0'
      },
      placeholderValue: {
        type: String,
        default: ''
      }
    },

    created: function () {
      // `this` points to the vm instance
      console.log(this)
      // this.formatValue(this.$props.value)
      // this.$refs.input.value = numeral(this.$props.value).format(this.$props.format)
    },

    mounted: function () {
      this.formatValue()
    },

    /**
     * The method properties that the component can use.
     */
    methods: {
      /**
       * Computed property which will compute the classes
       * for the header of the card.
       *
       * @returns {Array} The classes for the header.
       */
      updateValue: function (value) {
        const number = +value.replace(/[^\d.,]/g, '')
        this.$emit('input', isNaN(number) ? 0 : parseFloat(number.toFixed(2)))
      },
      formatValue: function (value) {
        // this.$refs.input.value = numeral(this.value).format(this.$props.format)
      },
      selectAll: function (event) {
        // Workaround for Safari bug
        // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
        setTimeout(function () {
          event.target.select()
          event.target.value = numeral(event.target.value).value()
        }, 200)
      }
    }
  }
</script>
