<template>
<v-layout>
<div class="row">
<div class="col-xl-7 col-lg-6 ">

<div class="card card-transparent">
<div class="card-block">
<div v-show="message.display" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">{{message.object.field}}</h4>
  <p>{{message.object.message}}.</p>
</div>
<form @submit.prevent="submit(model)" autocomplete="off">
<div class="row">
<div class="col-md-12">
<div id="oldPassword" class="form-group form-group-default required">
<label>Old password</label>
<input type="password" class="form-control" v-model="model.oldPassword" placeholder="Minimum of 4 characters." />
</div>
<span class="error"></span>
</div>
</div>
<div class="row clearfix">
<div class="col-md-6">
<div id="password" class="form-group form-group-default required">
<label>New password</label>
<input v-model="model.password" type="password" placeholder="Minimum of 4 characters." class="form-control">
</div>
<span class="error"></span>
</div>
<div class="col-md-6">
<div id="rePassword" class="form-group form-group-default required">
<label>Confirm new password</label>
<input v-model="model.rePassword" type="password" placeholder="Minimum of 4 characters." class="form-control">
</div>
<span class="error"></span>
</div>
</div>
<p class="pull-left">
I agree to the <a href="#">Pages Terms</a> and <a href="#">Privacy</a>.
</p>
<p class="pull-right">
<a href="#">Help? Contact Support</a>
</p>
<div class="clearfix"></div>
<button class="btn btn-primary" type="submit">Create a new account</button>
</form>
</div>
</div>

</div>
<div class="col-xl-5 col-lg-6">

<div class="card card-transparent">
<div class="card-header ">
<div class="card-title">Validation
</div>
</div>
<div class="card-block">
<h3>Showcase and guide users with a <br>
better User Interface &amp; Experience.</h3>
<p>Forms are one of the most important components
<br> when it comes to a dashboard. Recognizing that fact, users are
<br>able work in a maximum content width.</p>
<br>
<p class="small hint-text m-t-5">VIA senior product manager
<br> for UI/UX at REVOX</p>
<button class="btn btn-primary btn-cons">More</button>
</div>
</div>

</div>
</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editPassword',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          oldPassword: null,
          password: null,
          rePassword: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'put', url: 'api/profile/edit/password', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.model = {password: null, rePassword: null, oldPassword: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
