<template>
<div>
<header>
<div class="container">
<a class="logo" href="/">
<img src="http://pages.revox.io/dashboard/3.0.0/doc/assets/img/pages_logo_white.png" width="78" height="22">
</a>
</div>
</header>
<div class="container p-t-70">
<div class="container-inner">
<div class="secondary-sidebar-toggle bg-master-lighter padding-10 text-center hidden-lg-up">
<a href="#" data-init="secondary-sidebar-toggle"><i class="pg pg-more"></i></a>
</div>
<div class="secondary-sidebar light" data-init="secondary-sidebar">
<div class="sidebar">
<div class="pg_scrollable">
<ul class="navb">
<li>
<h6>Term of use</h6>
<ul class="navb" style="overflow: hidden; display: block;">
<li>
<a href="javascript:;">Term of use</a>
</li>
<li>
<a href="javascript:;">Privacy</a>
</li>
<li>
<a href="javascript:;">Cookies</a>
</li>
<li>
<a href="javascript:;">Patent</a>
</li>
<li>
<a href="javascript:;">Browser support</a>
</li>
</ul>
</li>
</ul>
</div>
</div>
</div>
<div class="inner-content full-height  p-r-20 p-l-35 p-t-20">
<section id="introduction" style="padding-top:30px">
<h2 class="text-center">Term of use</h2>
<h5 class="text-center"> Cum sociis natoque penatibus et magnis</h5>
<hr>
<h3>Introduction</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
<p>This documentation guide for all Pages users who can even be a beginner to Web development
</p>
<br>
<h3>Light Weight &amp; Ready to Go</h3>
<p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
</section>
<section id="getting_started" style="padding-top:10px">
<h3 class="page-title">
Getting Started
</h3>
<hr>
<h5>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo
</h5>
<br>
<h4>What's Included</h4>
<p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
<p>This documentation guide for all Pages users who can even be a beginner to Web development</p>
<br>
<h4>Whats Inside getting_started</h4>
<p>This folder is a boilerplate template to help you start your project from.</p>
<div class="m-b-20" id="g-tree">
<ul id="gdata" style="display: none;">
<li class="folder expanded">getting_started
<ul>
<li class="folder expanded">html
<ul>
<li class="folder">assets
</li>
<li class="folder">pages
<ul>
<li class="folder expanded">css
<ul>
<li>pages.css</li>
<li>pages.min.css</li>
</ul>
</li>
<li class="folder expanded">js
<ul>
<li>pages.js</li>
<li>pages.min.js</li>
</ul>
</li>
<li class="folder">img
</li>
</ul>
</li>
<li>casual_default.html</li>
<li>casual_with_sidebar.html</li>
<li>condensed_boxed.html</li>
<li>condensed_default.html</li>
<li>condensed_secondary.html</li>
<li>cooperate.html</li>
<li>cooperate_alt.html</li>
<li>cooperate_secondary.html</li>
<li>executive_default.html</li>
<li>executive_with_sidebar.html</li>
<li>simply_white.html</li>
<li>simply_white_alt.html</li>
<li>simply_white_secondary_bar.html</li>
</ul>
</li>
</ul>
</li>
</ul>
</div>
<br>
<h5 class="">Folder : assets</h5>
<p>This folder is entirely dedicated for you and you can add your own images, custom css and js files, its grouped into resource folders for best practice</p>
<br>
<h5 class="">Folder : pages</h5>
<p>This where the magic happens and contains pre-complied version of Pages, we do recommend updating any contents of the folder as all future updates are affected directly to this</p>
<br>
<h4>Whats Inside demo</h4>
<p>This folder contains all the demo files that we have shown in the live version for reference, you may wish to import code to your project from that. This is only used for reference and we do no recommend to start your project from demo files.</p>
<br>
<h4>Whats Inside grunt and gulp</h4>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>

</section>
</div>
</div>
</div>

</div>
</template>

<script>
  /* ============
   * Register Index Page
   * ============
   *
   * Page where the user can register.
   */

  import VLayout from 'layouts/Plain'

  export default {
    /**
     * The name of the page.
     */
    name: 'recoverPassword-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          credential: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'auth/recover', data: this.model}
        this.$store.dispatch('form/submit', payload)
      }
    },

    /**
     * The computed the page going to use
     */
    computed: {
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.model = {credential: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
