<template>
  <v-layout>
    <div class="row" style=" margin-top: 20px;">
      <div class="col-lg-3">fewfea</div>
      <div class="col-lg-9">

        <div class="row">
          <div v-for="increment in $store.state.form.formObj.content" class="text-left col-12 p-b-10 p-l-15 p-r-0">
          <div class="b-a b-grey b-rad-sm poster-card">
          <a :href="getLink(increment.id, increment.typeOfProposal)">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span class="badge badge-success">New</span> 
                <span :class="{ 'badge-inverse': !increment.isUrgent, 'badge-danger': increment.isUrgent }" class="badge ">{{ increment.isUrgent === true ? 'urgent' : 'regular' }}</span> 
              </span><span style="float:right;" class="badge badge-warning">{{ increment.typeOfProposal }}</span><br />
              <span style="color:#000;">{{ getTime(increment.dateOfCreation) }}<!--MON. NOV 26 5:30 PM--></span>
              <div class="text-black fs-15 semi-bold">
                <span class="m-r-10" v-for="location in increment.locations">{{ location.city.name }}, {{ location.province.name }}</span>
              </div>
              <div class="text-master fs-12 p-t-5">
                <span class="m-r-10">price range: {{ increment.priceMinimum }}$ - {{ increment.priceMaximum }}$</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
              </div>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="poster-card-tags">
                <a class="fs-12 m-r-10" v-for="typeOfProperty in increment.typeOfProperty.split(',')" href="javascript:;">#{{ typeOfProperty }}</a>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa-share-square-o"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa-bookmark-o"></i>
              </a>
            </div>
          </div>
        </div>
            </div>
        </div>

      </div>

    </div>
  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/proposal/list', parameters: {status: 'is_actived', typeOfProposal: 'for_rent'}}
        this.$store.dispatch('form/findAll', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
