<template>
<v-layout>
    <section class="hero" style="background: url(&quot;https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg&quot;);">
      <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5);">
        <div class="container">
          <div class="row">
            <div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
              <div class="top-title">
                <h1>About us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="main-container">
            <section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row gutters">
                        <div class="col col-8">
                            <h1>Full-service Design &amp; Development</h1>
                            <p class="lead">
                                From a team of passionate creators working side-by-side with our partners to deliver engaging digital and physical campaigns.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="4">
                                <div class="background-image-holder">
                                    <img alt="background" src="img/education-1.jpg" />
                                </div>
                                <div class="pos-vertical-center col-sm-6 boxed boxed--lg bg--none">
                                    <h2>Graphic Design</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="4">
                                <div class="background-image-holder">
                                    <img alt="background" src="img/inner-5.jpg" />
                                </div>
                                <div class="pos-vertical-center col-sm-6 boxed boxed--lg bg--none">
                                    <h2>Brand Marketing</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="switchable switchable--switch">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-12">
                            <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="3">
                                <div class="background-image-holder">
                                    <img alt="background" src="img/inner-6.jpg" />
                                </div>
                                <div class="pos-vertical-center col-sm-6 boxed boxed--lg bg--none">
                                    <h2>Digital Development</h2>
                                    <p class="lead">
                                        Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="text-center ">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-8 col-md-6">
                            <div class="cta">
                                <h2>Purchase Stack now and get lifetime free content updates</h2>
                                <p class="lead">
                                    Each purchase of Stack comes with six months free support &mdash; and a lifetime of free content and bug-fix updates.
                                </p>
                                <a class="btn btn--primary type--uppercase" href="https://themeforest.net/item/stack-multipurpose-html-with-page-builder/19337626?ref=medium_rare">
                                    <span class="btn__text">
                                        Purchase on Envato
                                    </span>
                                    <span class="label">$17 USD</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <footer class="footer-3 text-center-xs space--xs ">
                <div class="container">
                    <div class="row gutters">
                        <div class="col col-6">
                            <img alt="Image" class="logo" src="img/logo-dark.png" />
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">Get Started</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="type--fine-print">help@stack.io</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col col-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-google icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row gutters">
                        <div class="col col-6">
                            <p class="type--fine-print">
                                Supercharge your web workflow
                            </p>
                        </div>
                        <div class="col col-6 text-right text-center-xs">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> Stack Inc.</span>
                            <a class="type--fine-print" href="#">Privacy Policy</a>
                            <a class="type--fine-print" href="#">Legal</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>