<template>
<v-layout>
  <div class="hero" style="background: url('https://workingatbooking.com/content/themes/booking/assets/images/defaultHeader.jpg');">
    <div class="wrapper" style="background-color: rgba(0, 74, 139, 0.5) ">
    <div class="container">
      <div class="row">
<div class="top-search text-left" style="background-color: rgba(0, 0, 0, 0.4);">
<div class="top-title">
                <h1>Find your buying proposal</h1>
                <div class="row gutters">
                <div class="col-12">
            				<div class="tabs tabs-style-line">
					<nav>
						<ul>
							<li><a href="#section-linetriangle-1"><span>All Products</span></a></li>
							<li><a href="#section-linetriangle-2"><span>Electronics</span></a></li>
							<li><a href="#section-linetriangle-3"><span>Clothing</span></a></li>
							<li><a href="#section-linetriangle-4"><span>Multimedia</span></a></li>
							<li><a href="#section-linetriangle-5"><span>Toys</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-linetriangle-1"><p>1</p></section>
						<section id="section-linetriangle-2"><p>2</p></section>
						<section id="section-linetriangle-3"><p>3</p></section>
						<section id="section-linetriangle-4"><p>4</p></section>
						<section id="section-linetriangle-5"><p>5</p></section>
					</div><!-- /content -->
				</div><!-- /tabs -->
          </div>
          </div>
            </div>
        <form method="get" role="search">
        <div class="row gutters">

        <div class="col col-4">
         <label for="exampleRecipientInput">Select an option</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>

        <div class="col col-4">
         <label for="urgencyOfBuying">Urgency of buying</label>
      <select id="urgencyOfBuying">
        <option value="">urgency of buying</option>
        <option value="Option 2">In rush</option>
        <option value="Option 3">Regular</option>
      </select>
        </div>

        <div class="col col-4">
         <label for="typeOfProperty">Type of property</label>
      <select id="typeOfProperty">
        <option value="">Type of property</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>


        

        </div>
        <div class="row gutters">
        <div class="col col-6">
        <label for="exampleRecipientInput">Location of buying</label>
      <select id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
        </div>
        <div class="col col-3">
        <label for="priceMin">Price min</label>
      <input id="priceMin" type="text" name="" placeholder="price min">
        </div>
        <div class="col col-3">
        <label for="priceMax">Price max</label>
      <input id="priceMax" type="text" name="" placeholder="price max">
        </div>
        </div>
        <button style="margin-top: 15px;" type="submit" class="button-primary">Submit search</button>
    </form>

</div><!-- #top-search -->
      </div>
    </div>
  </div>
  </div>

  <section class="section bg-white">
    <div class="container">
      <h1>How It Works</h1><br />
      </div> <div class="container">
      <div class="row gutters">
        <div class="col col-4">
        <div class="value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/presentation.svg" style="width:100px;" /></h2>
          <h2 class="value-heading">Vone concept</h2>
          <p class="fs-15">Percentage of users more likely to purchase on mobile friendly site.</p>
          <a class="fs-14" href="/vone-concept/">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col col-4">
        <div class="value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/advantage.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading">Vone advantage</h2>
          <p class="fs-15">Most of the world accesses the internet on multiple devices.</p>
          <a class="fs-14" href="/vone-advantage/">Find out more <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div class="col col-4">
        <div class=" value bg-white padding-20 b-rad-md b-a b-grey">
          <h2 class="value-multiplier"><img src="/static/images/svg/relationship.svg" style="width: 100px;" /></h2>
          <h2 class="value-heading">Vone relationship</h2>
          <p class="fs-15">Percentage of users that are frustrated with page load times.</p>
          <a class="fs-14" href="/vone-relationship/">Explore now <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section b-t b-grey bg-white"><div class="container">
  
      <h1>Recent listing in <span class="text-primary">Your area</span></h1><br />


  
</div>

<div class="container">

<div class="row gutters">
<div class="col col-9">
  <div class="row gutters">
      <div v-for="increment in $store.state.form.formObj.content" class="text-left col-6 p-b-10 p-l-15 p-r-0">
          <div class="b-a b-grey b-rad-sm poster-card">
          <a :href="getLink(increment.id, increment.typeOfProposal)">
            <div class="p-t-5 p-b-5 p-l-10 p-r-10">
              <span class="text-black fs-12">
                <span class="badge badge-success">New</span> 
                <span :class="{ 'badge-inverse': !increment.isUrgent, 'badge-danger': increment.isUrgent }" class="badge ">{{ increment.isUrgent === true ? 'urgent' : 'regular' }}</span> 
              </span><span style="float:right;" class="badge badge-warning">{{ increment.typeOfProposal }}</span><br />
              <span style="color:#000;">{{ getTime(increment.dateOfCreation) }}<!--MON. NOV 26 5:30 PM--></span>
              <div class="text-black fs-15 semi-bold">
                <span class="m-r-10" v-for="location in increment.locations">{{ location.city.name }}, {{ location.province.name }}</span>
              </div>
              <div class="text-master fs-12 p-t-5">
                <span class="m-r-10">price range: {{ increment.priceMinimum }}$ - {{ increment.priceMaximum }}$</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
                <span class="m-r-10">size: {{ increment.size }}</span>
              </div>
            </div>
          </a>
          <div class="poster-card-footer">
            <div class="poster-card-tags">
                <a class="fs-12 m-r-10" v-for="typeOfProperty in increment.typeOfProperty.split(',')" href="javascript:;">#{{ typeOfProperty }}</a>
            </div>
            <div class="poster-card-actions">
              <a href="javascript:;">
                <i class="fa fa-share-square-o"></i>
              </a>
              <a href="javascript:;">
                <i class="fa fa-bookmark-o"></i>
              </a>
            </div>
          </div>
        </div>
            </div>
                      
          </div>
          <button class="button-primary">See more</button>
</div>
<div class="col col-3">

      <div style="height:100%;" class="bg-success padding-20 b-rad-md text-white">
          <span class="fa fa-flag fa-3x"></span>
          
<h4 class="text-white">Device Lab</h4>
<p style="text-align: center;">Including the premium Icons Mind icon kit, Stack features a highly diverse set of icons suitable for all purposes.</p>
<p style="text-align: center;"><a href="#">Learn More</a></p>
<p> <span class="label">New</span>
      </p></div><!--end feature-->
    </div></div></div></section>



    <section style="padding-bottom:8%" class="about-community bg-radient text-white">
        <div class="container">
          <aside class="stats">
            <h5>Statistics</h5>
            <h1>4 M</h1><br />
            <h4>match up built</h4>
            <ul>
              <li class="devs">5+ Million proposals</li>
              <li class="meetups">700K+ lessor / Seller</li>
              <li class="github">731,800 properties</li>
              <li class="so">0.89 ration match up</li>
            </ul>
          </aside>
          <hgroup>
            <h1 class="text-white">Our stats of proposals, properties, profiles.</h1>
            <h4 class="text-white">
              There are millions of proposals and properties in over 200 countries worldwide.
              <a href="">Join us.</a>
            </h4>
          </hgroup>
              <div class="columns">
              <div class="column col-4">
                <div style="max-height: 140px;" class="bg-white padding-20 b-rad-md b-a b-grey">
                  <div>
                  <div><img src="/static/images/svg/pie-chart.svg" style="width:100px;"></div>
                  <h3 class="text-master fs-16">Vone concept</h3>
                </div>
                </div>
                </div>
                <div class="column col-4">
                <div style="max-height: 140px;"class="four columns value bg-white padding-20 b-rad-md b-a b-grey">
                    <div class="grid">
                  <div class="col"><img src="/static/images/svg/graph.svg" style="width: 100px;"></div>
                  <h3 class="text-master fs-16">Vone relationship</h3>
                  </div>
                </div>
                </div>
              </div>
        </div>
        </div>
      </section>

  <footer id="footer" class=" ">
      <div class="container">
          <div class="row">
              <div class="col-m-10">
                  <h3 class="footer-top logo--footer">
                      <a class="logo--header" href="javascript:;">
      <img src="/static/images/logo/logo_white.png" width="60px">
  </a>
  
                  </h3>
              </div>
                              <div class="col-m-6 ptop0">
                                              <div class="ui dropdown lang-dropdown" tabindex="0">
    <div class="default text" data-icon="g">English</div>
    <div class="ml10 right"><i data-icon="" class="ui white tiny icon"></i></div>  
  </div>                                    </div>
                      </div>
  
                  <div class="footer_divider"></div>

          
          <div class="row footer_policy_links">
              <div class="col-m-12">
                  <ul class="footer_horiz_list">
                     <li>
                          <a href="/">
                              Home
                          </a>
                      </li>
                      <li>
                          <a href="/buyer/">
                              Buyer
                          </a>
                      </li>
                      <li>
                          <a href="/rent/">
                              Tenant
                          </a>
                      </li>
                       <li>
                          <a href="/sell/">
                              Seller
                          </a>
                      </li>
                      <li>
                          <a href="/lease/">
                              Lessor
                          </a>
                      </li>
                  </ul>
              </div>
              <div class="social-container col-m-4">
                  <a target="_blank" href="javascript:;"><div class="social-icons fa fa-twitter" data-icon="t"></div></a>
                  <a target="_blank" href="javascript:;"><div class="social-icons fa fa-instagram" data-icon="4"></div></a>
                  <a target="_blank" href="javascript:;"><div class="social-icons fa fa-facebook" data-icon="¶"></div></a>
              </div>
          </div>
  
          <div class="footer_divider"></div>
          <div class="footer-bottom row">
              <div class="footer-msg">
                                     By continuing past this page, you agree to our <a href="http://www.zomato.com/conditions" rel="nofollow">Terms of Service</a>, <a href="http://www.zomato.com/cookiepolicy" rel="nofollow">Cookie Policy</a>, <a href="http://www.zomato.com/privacy" rel="nofollow">Privacy Policy</a> and <a href="http://www.zomato.com/policies" rel="nofollow">Content Policies</a>. All trademarks are properties of their respective owners. © 2008-2017 - <a href="http://www.zomato.com">Zomato</a>™ Media Pvt Ltd. All rights reserved.
                              </div>
          </div>
          <a href="https://plus.google.com/104017429609258707097" rel="publisher" class="hidden">Find us on Google+</a>
      </div>
  </footer>
</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Default'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },
    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/proposal/list', parameters: {status: 'is_actived', size: 6}}
        this.$store.dispatch('form/findAll', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>