<template>
<v-layout>
<div class="row" style=" margin-top: 20px;">
<div class="col-lg-9">
  <div class="card social-card status col2" data-social="item" >
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<h5>David Nester updated his status
<span class="hint-text">few seconds ago</span></h5>
<h2>Earned my first salary bonus for the best design of the year award.</h2>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>

<modal-form :show="showFormModal" @close="showFormModal = false" />
<button id="show-form-modal" @click="showFormModal = true">New Post</button>

<div class="card social-card share  col2" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33"  src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/8x.jpg">
</div>
<h5>Jeff Curtis</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
</h6>
</div>
<div class="card-description">
<p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. <a href="#">#quote</a></p>
<div class="via">via Twitter</div>
</div>
</div>

<div class="card social-card share  col2" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/5x.jpg">
</div>
<h5>Shannon Williams</h5>
<h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>Inspired by : good design is obvious, great design is transparent</p>
<div class="via">via themeforest</div>
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
 </ul>
<img alt="Social post" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/social-post-image.png">
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
</div>


<div class="card social-card share  col2" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33"  src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/2x.jpg">
</div>
<h5>Jeff Curtis</h5>
<h6>Shared a Tweet
<span class="location semi-bold"><i class="fa fa-map-marker"></i> SF, California</span>
</h6>
</div>
<div class="card-description">
<p>What you think, you become. What you feel, you attract. What you imagine, you create - Buddha. <a href="#">#quote</a></p>
<div class="via">via Twitter</div>
</div>
</div>

</div>
<div class="col-lg-3">
<p class="m-b-5 small">1,435 Mutual Friends</p>
<ul class="list-unstyled ">
<li class="m-r-10">
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/1.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/2.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/3.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/5.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/6.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white m-r-5 b-a b-white">
<img width="35" height="35" alt="Profile Image" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/7.jpg">
</div>
</li>
<li>
<div class="thumbnail-wrapper d32 circular b-white">
<div class="bg-master text-center text-white"><span>+34</span>
</div>
</div>
</li>
</ul>
<br>
<p class="m-t-5 small">More friends</p>

<div class="card social-card share  col1" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-header clearfix">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg" data-src="assets/img/profiles/5.jpg" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/4x.jpg">
</div>
<h5>Shannon Williams</h5>
<h6>Shared a photo
<span class="location semi-bold"><i class="fa fa-map-marker"></i> NYC, New York</span>
</h6>
</div>
<div class="card-description">
<p>Inspired by : good design is obvious, great design is transparent</p>
<div class="via">via themeforest</div>
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
 </ul>
<img alt="Social post" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/social-post-image.png">
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
</div>
<div class="card social-card share share-other col1" data-social="item">
<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label">
</div>
<div class="card-content">
<ul class="buttons ">
<li>
<a href="#"><i class="fa fa-expand"></i>
</a>
</li>
<li>
<a href="#"><i class="fa fa-heart-o"></i>
</a>
</li>
</ul>
<img alt="Quote" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/social/quote.jpg">
</div>
<div class="card-description">
<p>Like if you agree</p>
</div>
<div class="card-footer clearfix">
<div class="time">few seconds ago</div>
<ul class="reactions">
<li><a href="#">5,345 <i class="fa fa-comment-o"></i></a>
</li>
<li><a href="#">23K <i class="fa fa-heart-o"></i></a>
</li>
</ul>
</div>
<div class="card-header clearfix last">
<div class="user-pic">
<img alt="Profile Image" width="33" height="33" src="http://pages.revox.io/dashboard/3.0.0/html/casual/assets/img/profiles/7x.jpg">
</div>
<h5>Tracy Brooks</h5>
<h6>Shared a photo on your wall</h6>
</div>
</div>

</div>

</div>
<modal-feed :show="showModal" @close="showModal = false" />
<button id="show-modal" @click="showModal = true">New Post</button>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from 'transformers/ProposalTransformer'
  import ModalFeed from 'components/ModalFeed'
  import ModalForm from 'components/ModalForm'
  import VLayout from 'layouts/Dashboard'
  import * as constants from 'constants/'
  import NumeralInput from 'components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showFormModal: false,
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      ModalFeed,
      ModalForm,
      VLayout
    }
  }
</script>
