.header
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 800;
    background-color: #fff;
    -webkit-transition: background 0.4s ease, height 0.4s ease;
    transition: background 0.4s ease, height 0.4s ease;

.header.bg-header
    // height: 110px;

.header.bg-header .header-inner
    // line-height: 110px;

.header.horizontal
    width: 100%;
    height: auto;

.header .menu
    margin: 0;
    display: inline-block;

.header .menu.bordered>li>a
    border-right: 1px solid;

.header .menu>li
    display: inline-block;
    list-style: none;
    font-size: 13px;
    margin-right: 12px;
    vertical-align: middle;

.header .menu>li.horizontal.dark>nav
    background-color: #000000;
    border-bottom: 0;

.header .menu>li.horizontal.dark>nav ul li a
    color: #ffffff;

.header .menu>li>a
    position: relative;
    text-transform: uppercase;
    font-family: 'Montserrat';
    padding-right: 21px;
    display: block;

.header .menu>li>a span
    margin-bottom: 7px;

.header .menu>li>a:before
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    white-space: pre;
    line-height: inherit;
    content: attr(data-text);
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;

.header .menu>li>a.btn,
.header .menu>li>a.btn:hover
    opacity: 1;

.header .menu>li>a>span
    font-size: 12px;
    font-family: Arial;
    color: inherit;
    opacity: 0.8;
    display: block;
    position: relative;
    line-height: 15px;
    text-transform: none;

.header .menu>li>a>span:before
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    max-width: 0;
    white-space: pre;
    line-height: inherit;
    content: attr(data-text);
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;

.header .menu>li:last-child
    border-right: none;

.header .menu>li.open.horizontal
    position: relative!important;

.header .menu>li.open.horizontal>span.arrow
    // background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 14px);
    margin-top: 8px;
    position: absolute;
    z-index: 2;

.header .menu>li.open.horizontal>span.arrow:before
    content: '';
    position: absolute;
    height: 7px;
    width: 100vw;
    background-color: #ffffff;
    display: block;
    left: -100vw;
    border-top: 1px solid #e6e6e6;

.header .menu>li.open.horizontal>span.arrow:after
    content: '';
    position: absolute;
    height: 7px;
    left: 14px;
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
    width: 100vw;

.header .menu>li.open.mega
    position: relative!important;
    margin-top: -1px;

.header .menu>li.open.mega>span.arrow
    // background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 14px);
    margin-top: 10px;
    position: absolute;

.header .menu>li.open.mega>span.arrow:before
    content: '';
    position: absolute;
    height: 7px;
    width: 100vw;
    background-color: #ffffff;
    display: block;
    left: -100vw;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-left: 1px solid rgba(0, 0, 0, 0.07);

.header .menu>li.open.mega>span.arrow:after
    content: '';
    position: absolute;
    height: 7px;
    left: 14px;
    width: 100vw;
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    border-right: 1px solid rgba(0, 0, 0, 0.07);

.header .menu>li.open.classic>nav
    border-color: rgba(0, 0, 0, 0.07);

.header .menu>li.open>.classic
    max-height: 999px;

.header .menu>li.open>.mega,
.header .menu>li.open>.horizontal
    display: block;

.header .menu>li.classic
    position: relative;

.header .menu>li.open>a
    opacity: 1;

.header .menu>li.mega.open,
.header .menu>li.horizontal.open
    position: inherit;

.header .menu>li>.classic
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 34px;
    min-width: 190px;
    left: 50%;
    margin-left: -102px;
    max-height: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 0;

.header .menu>li>.classic>span.arrow
    // background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 7px;
    left: calc(50% - 7px);
    position: absolute;
    top: 0;

.header .menu>li>.classic:before
    content: '';
    position: absolute;
    height: 7px;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);

.header .menu>li>.classic:after
    content: '';
    position: absolute;
    height: 7px;
    right: 0;
    width: calc(50% - 7px);
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    top: 0;

.header .menu>li>.classic ul
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 6px;

.header .menu>li>.classic ul>li
    margin: 5px 25px;
    opacity: 1;
    -webkit-transition: all 0.1s linear 0.1s;
    transition: all 0.1s linear 0.1s;

.header .menu>li>.classic ul>li a
    color: #000000;
    text-transform: uppercase;
    font-family: 'Montserrat';
    opacity: 0.5;
    font-size: 11px;
    line-height: 30px;

.header .menu>li>.classic ul>li a:focus
    opacity: 0.8;

.header .menu>li>.classic ul>li a:hover
    opacity: 0.8;

.header .menu>li>.classic ul>li a.active
    opacity: 1;

.header .menu>li>.classic ul>li:first-child
    margin-top: 20px;

.header .menu>li>.classic ul>li:last-child
    margin-bottom: 20px;

.header .menu>li>.horizontal
    margin: 0;
    margin-top: 15px;
    padding: 0;
    position: fixed;
    background-color: #fff;
    list-style: none;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;

.header .menu>li>.horizontal.dark
    background-color: #000000;

.header .menu>li>.horizontal.dark ul li a
    color: #ffffff;

.header .menu>li>.horizontal ul
    white-space: nowrap;
    padding-left: 0;

.header .menu>li>.horizontal ul li
    margin: 2px 9px 6px 9px;
    display: inline-block;

.header .menu>li>.horizontal ul li a
    color: #000000;
    opacity: 0.5;
    text-transform: uppercase;
    font-family: 'Montserrat';
    line-height: 35px;
    font-size: 11px;

.header .menu>li>.horizontal ul li a:focus
    opacity: 0.8;

.header .menu>li>.horizontal ul li a:hover
    opacity: 0.8;

.header .menu>li>.horizontal ul li a.active
    opacity: 1;

.header .menu>li>.mega
    position: fixed;
    display: none;
    left: 0;
    right: 0;

.menu>li.mega>nav.mega
    max-height: 0;
    min-width: 190px;
    overflow: hidden;
    display: block!important;

.menu>li.mega.open>nav.mega
    max-height: 999px;

.menu-toggler
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
    width: 15px;
    height: 15px;
    margin-top: 22.5px;
    display: inline-block;
    user-select: none;
    box-sizing: content-box;
    cursor: pointer;

.overlay
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    z-index: 1010;
    overflow: auto;

.overlay .inline-block
    display: inline-block;

.overlay .overlay-brand
    margin-left: 7px;

.overlay>div
    width: 100%;
    height: 260px;
    display: block;
    overflow: hidden;

.overlay .has-results
    overflow: visible;

.overlay .overlay-search
    font-weight: 300;
    font-size: 77px;
    height: 120px;
    letter-spacing: -1.925px;
    line-height: 100px;
    padding-left: 0!important;

.overlay .overlay-close
    position: absolute;
    right: 20px;
    top: 25px;

.jumbotron
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #f0f0f0;

.jumbotron .inner
    position: relative;
    z-index: 2;

.jumbotron.lg
    height: 600px;

.jumbotron h1
    font-size: 44px;
    color: #2c2c2c;

.pace .pace-progress
    background-color: #6d5cae;

.footer
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

