<template>
  <v-layout>
    <div class="row" style=" margin-top: 20px;">
      
<main role="main" class="">
  <div class="js-hidden-when-expired event-listing event-listing--has-image " role="article">
    <!-- Event Listing Header -->
<div class="notification-box--listing">
  <div class="js-notification-box" data-id="" data-message="" data-type="aaa" data-close-btn="" data-delay=""></div>
</div>
<header class="event-listing__header clrfix hide-small hide-medium">
  <div class="listing-hero-image__blurry-background fx--fade-in fx--delay-4">
      <picture content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=1000&amp;rect=0%2C106%2C1920%2C960&amp;s=b523df35f1ba3dbe8e19cd78f89fc877">
        <source srcset="
          https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=50&amp;rect=0%2C106%2C1920%2C960&amp;s=6efc2a9f7df0bdee64ee92f8f6155ddb 50w
        " sizes="100vw">
        <img class="listing-hero-image js-picturefill-img" data-automation="listing-hero-image" alt="">
      </picture>
  </div>
</header>
    <div class="g-grid g-grid--page-margin-manual">
      <!-- Event Listing Body -->
<div class="event-listing__body l-sm-pad-top-0">
  <!-- Listing Hero Details -->
  <div class="listing-hero-details__main-container fx--fade-in fx--delay-4">
    <div class="g-group">
      <div class="g-cell g-cell-1-1 g-cell-lg-8-12 g-cell--no-gutters listing-hero--image-container">
          <div class="listing-hero__badge-container js-hero-badge-container">
    <span class="badge--overlay badge-status hide-large badge-price" data-automation="hero-badge">
      Free
    </span>
          </div>
        <div class="listing-hero listing-hero--bkg clrfix fx--delay-6 fx--fade-in">
            <picture content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=1000&amp;rect=0%2C106%2C1920%2C960&amp;s=b523df35f1ba3dbe8e19cd78f89fc877">
              <source srcset="
                https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=480&amp;rect=0%2C106%2C1920%2C960&amp;s=07ff712a8bbfdc1662af36110bdd3c9a 480w,
                https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=600&amp;rect=0%2C106%2C1920%2C960&amp;s=767a7c2974894cb075d7b9b91ce8ce00 600w,
                https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34803945%2F89080940963%2F1%2Foriginal.jpg?w=800&amp;rect=0%2C106%2C1920%2C960&amp;s=0837617e0b12b425d37c4718c74855e6 800w
              " sizes="100vw">
              <img class="listing-hero-image js-picturefill-img listing-image--main" data-automation="listing-hero-image" alt="" onload="LUX.mark('listingHeroImageLoaded')">
            </picture>
        </div>
      </div>
      <div class="g-cell g-cell-1-1 g-cell-lg-4-12 g-cell--no-gutters listing-hero__detailed-info">
        <ul class="listing-panel-actions show-small" role="list">
          <li><a class="js-d-bookmark btn btn--collapsible btn--target is-collapsed btn--opaque l-sm-mar-bot-2 listing-panel-actions__btn bookmarked saved" data-eid="37464594611" role="listitem" data-bookmarked="true" alt="Save" aria-label="Save Event" dorsal-guid="d7557414-088a-69b6-49dd-ee91a015cda9" data-xd-wired="bookmark">
            <i class="ico-bookmarked"></i>
          </a></li>
        </ul>
        <div class="l-pad-top-6 l-pad-bot-2 l-lg-pad-bot-4 l-pad-hor-6">
          <div class="listing-hero-header hide-small ">
              <time class="listing-hero-date" datetime="2017-11-09">
                <p class="listing-hero-image--month">Nov</p>
                <p class="listing-hero-image--day">09</p>
              </time>
          </div>
          <div class="listing-hero-body ">
            <h1 class="listing-hero-title" data-automation="listing-title">Networking - creating human connections in a comfortable and effective way </h1>
            <meta content="Networking - creating human connections in a comfortable and effective way ">
              <div class="l-mar-top-3">
              <div class="l-media clrfix listing-organizer-title">
    <div class="l-align-left">
      <a href="#listing-organizer" class="js-d-scroll-to listing-organizer-name text-default" data-d-duration="1500" data-d-offset="-70" data-d-destination="#listing-organizer" dorsal-guid="973679e1-a89f-77cd-e581-90a7043f0c78" data-xd-wired="scroll-to">
        by Spring Startup School
      </a>
    </div>
</div>
              </div>
          </div>
          <div class="js-display-price-container listing-hero-footer hide-small hide-medium" data-automation="micro-ticket-box-price">
              <div class="js-display-price">
  Free
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Listing Card Panel -->
  <div class="listing-panel-wrapper js-listing-panel-wrapper clrfix" role="menu">
  <div class="listing-panel clrfix sticky-listing-panel-placeholder hide-small"></div>
  <div class="listing-panel js-sticky-panel sticky-listing-panel sticky clrfix is-stuck">
    <div class="g-group g-group--page-margin-reset">
      <div class="g-cell g-cell-1-1 g-cell-md-4-12 g-cell-lg-5-12 hide-small listing-panel__g-cell">
        <h2 class="is-hidden-accessible hide-small">Actions and Detail Panel</h2>
        <ul class="listing-panel-actions" role="list">
            <li class="fx--fade-in-down fx--duration-1 fx--delay-12" role="listitem">
              <a href="#" class="js-d-tooltip btn btn--target btn--collapsible js-share-listing-button listing-panel-actions__btn" role="button" alt="Share" title="" data-trigger="hover" data-d-disabled-in-touch="true" data-placement="bottom" data-container="body" aria-haspopup="true" aria-label="Share this event" data-automation="share-event-modal-btn" dorsal-guid="7b1f368a-eb6e-c653-b878-f7d3099b570d" data-original-title="Share Event" data-xd-wired="tooltip"><i class="ico-share"></i></a>
            </li>
          <li class="fx--fade-in-down fx--duration-2 fx--delay-14" role="listitem">
            <a href="#" class="js-d-bookmark js-d-tooltip btn btn--target btn--collapsible is-collapsed l-sm-mar-bot-2 bookmarked saved" data-automation="bookmark-link" role="button" data-eid="37464594611" data-bookmarked="true" alt="Save Event" data-trigger="hover" data-d-disabled-in-touch="true" data-placement="bottom" data-container="body" aria-label="Save Event" aria-haspopup="false" dorsal-guid="13bcb24c-af52-e1b6-c795-42e5459ebfad" data-xd-wired="bookmark tooltip" data-original-title="" title=""><i class="ico-bookmarked"></i></a>
          </li>
        </ul>
        <div class="listing-panel-info__details hide-responsive-grid-down l-mar-left-4">
          <p class="is-truncated listing-title 
          ">Networking - creating human connections in a comfortable and effective way  </p>
            <p class="listing-panel-info__details-datetime is-truncated">
              Thu, November 9, 2017, 7:00 PM – 9:00 PM PST
            </p>
        </div>
      </div>
      <div class="g-cell g-cell-1-1 g-cell-md-4-12 g-cell-lg-3-12">
          <div class="listing-panel-info__price-or-status">
              <div class="listing-panel-info__display-price is-truncated js-panel-display-price-container">
                <div class="js-panel-display-price">
  Free
</div>
              </div>
          </div>
      </div>
      <div class="g-cell g-cell-1-1 g-cell-md-4-12 l-sm-pad-top-1">
    <div class="listing-panel-info fx--delay-18 fx--fade-in js-listing-panel-info-event-header">
      <div class="micro-ticket-box
">
  <div class="micro-ticket-box__body js-micro-ticket-box__body
  ">
    <form class="js-order-registration responsive-form
    " name="ticketsForm" action="https://www.eventbrite.com/orderstart" method="post" target="_top">
      <input type="hidden" name="eid" value="37464594611">
      <input type="hidden" name="has_javascript" id="has_javascript" value="1">
      <input type="hidden" name="source_id" value="4b00e56bc59f11e790740ae8b5fd8ea4">
      <input type="hidden" name="payment_type" value="free">
      <input type="hidden" name="invite" value="">
      <input type="hidden" name="legacy_event_page" value="1">
      <input type="hidden" name="affiliate" value="erelpanelorg">
      <input type="hidden" name="referrer" value="">
      <input type="hidden" name="referral_code" value="">
      <input type="hidden" name="w" value="">
      <input type="hidden" name="waitlist_code" value="">
      <input type="hidden" name="eventpassword" value="">
      <span class="js-micro-order-container">
          <span class="micro-ticket-box__btn-wrapper">
            <button type="button" class="micro-ticket-box__btn btn btn--epic btn--responsive js-ticket-modal-btn " data-automation="ticket-modal-btn" aria-haspopup="true">Register</button>
          </span>
      </span>
    </form>
  </div>
</div>
    </div>

      </div>
    </div>
  </div>
</div>
  <!-- Listing Card Info -->
<section class="listing-info clrfix">
  <header class="listing-info__header l-md-pad-top-2  g-group g-group--page-margin-reset">
    <div class="g-cell g-cell-1-1 g-cell-lg-8-12 g-offset-lg-2-12 listing-info__header-container">
      <h2 class="is-hidden-accessible hide-small">Event Information</h2>
      <div class="g-cell g-cell-1-1 show-small hide-medium hide-large">
        <div class="event-details">
            <div class="g-group l-mar-vert-6">
              <div class="g-cell g-cell-2-12 g-cell--no-gutters">
                <i class="ico-calendar ico--medium"></i><span class="is-hidden-accessible">Share this event</span>
              </div>
              <div class="g-cell g-cell-10-12 g-cell--no-gutters">
                <h3 class="label-primary l-mar-bot-2">Date and Time</h3>
                <div class="event-details__data">
                  <meta content="2017-11-09T19:00:00-08:00">
                  <meta content="2017-11-09T21:00:00-08:00">
                  <time class="clrfix" data-automation="event-details-time">
                    <p>Thu, November 9, 2017</p>
                    <p>7:00 PM – 9:00 PM PST</p>
                    <p class="hide-small hide-medium">
                      <a class="js-add-to-calendar-modal js-d-dialog-trigger" href="#add-to-calendar-modal" data-automation="add-to-calendar" role="button" aria-haspopup="true" dorsal-guid="416359e9-699b-488a-040c-62db7cf179ce" data-xd-wired="dialog-trigger">Add to Calendar</a>
                    </p>
                  </time>
                </div>
              </div>
            </div>
            <div class="g-group l-mar-top-6 l-md-mar-bot-4 l-lg-mar-bot-6">
              <div class="g-cell g-cell-2-12 g-cell--no-gutters">
                <i class="ico-location ico--medium"></i><span class="is-hidden-accessible">Location</span>
              </div>
              <div class="g-cell g-cell-10-12 g-cell--no-gutters">
                <h3 class="label-primary l-mar-bot-2">Location</h3>
                <div class="event-details__data">
                  <p>HelloSpace</p>
                    <p>UNIT 6-7 3671 VIKING WAY </p>
                    <p>Richmond, BC V6V 2J5 </p>
                  <p>
                    <a class="js-d-scroll-to js-scroll-to-map" href="#map-target" data-d-duration="1500" data-d-destination="#map-target" dorsal-guid="a83ceddd-2b7a-449e-c708-f7850544a474" data-xd-wired="scroll-to">View Map</a>
                    <a class="js-view-map-link is-hidden" href="https://maps.google.com/maps?hl=en&amp;q=49.187121,-123.07440910000003&amp;sll=49.187121,-123.07440910000003&amp;z=13&amp;markers=49.187121,-123.07440910000003" target="_blank">View Map</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="g-group l-mar-top-6 l-md-mar-bot-4 l-lg-mar-bot-6">
              <div class="g-cell g-cell-2-12 g-cell--no-gutters">
                <i class="ico-friends ico--medium"></i><span class="is-hidden-accessible">Friends Who Are Going</span>
              </div>
              <div class="g-cell g-cell-10-12 g-cell--no-gutters">
                <dd class="event-details__data">
                  <div class="friends-wrapper">
                    <!-- Listing Who is Going -->
                    <div class="js-who-is-going who-is-going">
  <div class="js-who-is-going-connect" style="">
    <h3 class="label-primary l-mar-bot-2">Friends Who Are Going</h3>
    <a href="#" class="js-fb-connect text-default fb-connect-link" role="button" data-automation="see-whos-going">
      <img class="g-img js-d-retina whos-going-icon" src="https://cdn.evbstatic.com/s3-build/perm_001/a937fc/django/images/listings/see-whos-going-facebook-icon.png" data-d-retina-src="https://cdn.evbstatic.com/s3-build/perm_001/e04b30/django/images/listings/see-whos-going-facebook-icon@2x.png " width="60" alt="" dorsal-guid="564055a3-1f45-74b1-9557-8b1c2899d15e" data-xd-wired="retina">
      <span>Connect <span class="show-large">to Facebook</span></span>
    </a>
  </div>
  <div class="js-who-is-going-loading who-is-going-loading who-is-going-wobble" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list l-mar-top-2">
      <li><i class="ico-person ico--large"></i></li>
      <li><i class="ico-person ico--large"></i></li>
      <li><i class="ico-person ico--large"></i></li>
    </ul>
  </div>
  <div class="js-who-is-going-empty who-is-going-empty" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list no-friends">
      <li class="fb-friend-item no-space">
        <p class="l-mar-top-2">None yet</p>
      </li>
      <li class="fb-friend-item">
        <a href="#fb-settings-modal" class="btn btn--target is-collapsed js-d-modal js-d-tooltip single-line-tooltip" title="" data-d-disabled-in-touch="true" dorsal-guid="fc6325f5-32c3-6917-8e98-ec68d238f7b4" data-xd-wired="modal tooltip" data-original-title="Social settings">
          <i class="ico-settings"></i><span class="btn--context">Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="js-who-is-going-error who-is-going-error" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list">
      <li class="fb-friend-item no-space">
        <p class="l-mar-top-2 fb-connect-error">Whoops! <span>Couldn't connect</span></p>
      </li>
      <li class="fb-friend-item">
        <a href="/social-settings" target="_blank" class="btn btn--target is-collapsed " title="Fix this problem">
          <i class="ico-settings"></i><span class="btn--context">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</div>
                  </div>
                </dd>
              </div>
            </div>
        </div>
      </div>
    </div>
  </header>
  <div class="listing-info__body l-sm-pad-vert-0 l-sm-pad-vert-6 clrfix g-group g-group--page-margin-reset">
    <div class="g-cell g-cell-1-1 g-cell-lg-10-12 g-offset-lg-1-12 l-mar-stack l-section-stack">
      <div class="g-group">
        <div class="g-cell g-cell-1-1 g-cell-md-7-12 g-cell--no-gutters l-lg-pad-right-6">
            <div class="g-group l-lg-mar-bot-6 l-md-mar-bot-4 l-pad-bot-6 ">
              <div class="g-cell g-cell-2-12 show-small">
                <i class="ico-document ico--medium"></i><span class="is-hidden-accessible">Event description</span>
              </div>
              <div class="g-cell g-cell-10-12 g-cell-md-1-1">
                  <h3 class="label-primary">Description</h3>
                <div class="has-user-generated-content js-d-read-more read-more js-read-more read-more--medium-down read-more--expanded" dorsal-guid="ad669d94-e467-d140-d5fa-87c1bed99e3a" data-xd-wired="read-more">
                  <div class="js-xd-read-more-toggle-view read-more__toggle-view">
                    <div class="js-xd-read-more-contents l-mar-top-3" data-automation="listing-event-description">
                      <p>Sales, Marketing, Budgeting...those are some of the hard-skills you learn for your business, but little do people talk about developing soft-skills that will help you get ahead.</p>
<p>How do you network effectively? How do you make a good first impression? How do you navigate and carry a conversation? What can you do to make it easier to follow-up and maintain the relationship?</p>
<p>Join the Spring team in a workshop about developing networking skills and finding a natural style that suits you.</p>
<p><strong>Who is this for?</strong></p>
<ul>
<li>If you're thinking about starting a company</li>
<li>If you currently run a company</li>
<li>If you're in a field of work where networking is important (Business Development, Sales, Fundraising etc.)</li>
</ul>
<p><strong>You will learn about:</strong></p>
<ul>
<li>
<p>How to make yourself comfortable in networking environments</p>
</li>
<li><span>How to approach people</span></li>
<li>
<p>How to make quality connections</p>
</li>
<li>
<p>How to carry a conversation without making it awkward</p>
</li>
</ul>
<h3><strong>Agenda:</strong></h3>
<p><span class="aBn">5:30PM</span> - Doors open for registration<br><span class="aBn">5:45PM</span> - Introductions <br><span class="aBn">6:00PM</span> - Networking presentation<br><span class="aBn">7:00PM</span> - Q&amp;A<br><span class="aBn">7:15PM</span> - Wrap up + Networking</p>
<p><strong>About the Speaker:</strong></p>
<p><strong><img alt="Chin Hing Chang" src="https://cdn.evbuc.com/eventlogos/88461709/chinhingchang.jpg"></strong></p>
<p><br></p>
<p><strong>Chin Hing Chang, </strong>Head of Growth @ Spring</p>
<p>Chin wants to change the world, and he believes that the best way to do that is to develop and empower other leaders to make a sustainable and meaningful change. A serial entrepreneur with experience in mobile development, aerial photography, and import/export; Chin has also received multiple awards for sales achievements with Bell and WIND. Chin leads Growth at Spring by supporting with revenue diversification, market expansion, and fine-tuning our service offerings. He has mentored and helped launch over 120 companies through the various entrepreneurship programs we offer and works closely with our entrepreneurs to help them increase their revenue. </p>
<p><strong>Thank you to our Sponsor Partners:</strong><span> Vancity, RBC, Dentons, MNP, Osler, Radical I/O Technology, App-Scoop, Karl Jung Financial Services, Jones Brown, and Blanko.</span></p>
<p><em>Note: By registering for this event you have agreed to have your email address included in Spring's weekly newsletters mailing list. Additionally, you waive the right to any photos or videos taken during the event.</em></p>
                    </div>
                  </div>
                  <div class="js-xd-read-more-toggle-director read-more__toggle-director l-pad-bot-4 l-sm-pad-bot-3">
                    <a href="javascript://" class="read-more__more" data-read-type="ReadMore" data-checkpoint-name="read_more">Read more</a>
                    <a href="javascript://" class="read-more__less" data-read-type="ReadLess" data-checkpoint-name="read_less">Read less</a>
                  </div>
                </div>
              </div>
            </div>
              <div class="g-group l-lg-mar-bot-6 l-md-mar-bot-4 l-pad-bot-6">
                <div class="g-cell g-cell-2-12 show-small">
                  <i class="ico-cash ico--medium"></i><span class="is-hidden-accessible">Tags</span>
                </div>
                <div class="g-cell g-cell-10-12 g-cell-md-12-12">
                  <h3 class="label-primary" data-automation="ListingsBreadcrumbsTitle">Tags</h3>
                  <p class="event-details__data" data-automation="ListingsBreadcrumbs">
  </p><section>
        <span>
          <a href="/things-to-do/canada--richmond/" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbAddress" data-event-category="listing" data-event-label="/things-to-do/canada--richmond/" data-automation="BreadcrumbAddress" dorsal-guid="52893aae-227e-1e34-feb7-dcc79fd8159e" data-xd-wired="track-link">
            <span>Things to do in Richmond</span>
          </a>
        </span>
        <span>
          <a href="/d/bc--richmond/classes/" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbFormat" data-event-category="listing" data-event-label="/d/bc--richmond/classes/" data-automation="BreadcrumbFormat" dorsal-guid="302b74bf-be60-a3b4-99f9-90fef8b558f9" data-xd-wired="track-link">
            <span>Class</span>
          </a>
        </span>
        <span>
          <a href="/d/bc--richmond/business--classes/" class="js-d-track-link badge badge--tag l-mar-top-2" data-event-action="BreadcrumbCategory" data-event-category="listing" data-event-label="/d/bc--richmond/business--classes/" data-automation="BreadcrumbCategory" dorsal-guid="3dd94565-7f14-e8e8-745d-7a741c8e16ce" data-xd-wired="track-link">
            <span>Business</span>
          </a>
        </span>
  </section>
                  <p></p>
                </div>
              </div>
            <div class="g-group">
              <div class="g-cell g-cell-2-12 show-small">
                <i class="ico-share ico--medium"></i><span class="is-hidden-accessible">Share with friends</span>
              </div>
              <div class="g-cell g-cell-10-12 g-cell-md-12-12">
                <div class="listing-info__footer clrfix">
                  <div class="share-wrapper l-sm-mar-bot-4">
                    <h3 class="label-primary l-sm-align-left">Share with friends</h3>
                    <!-- Listing Share Options -->
                    <div class="js-share-wrapper l-sm-align-left"><section>
    <section>
        <ul class="grouped-ico grouped-ico--share-links js-social-share-list fx--fade-in" data-automation="social-share-inline">
        <li><a class="js-social-share " href="#" target="_blank" title="Share this page on Facebook">
    <i class="ico-facebook-badge ico--color-understated-link ico--xlarge" data-automation="facebook-share-link">
    </i>
    <span class="is-hidden-accessible">Facebook</span>
</a></li><li><a class="js-social-share " href="#" target="_blank" title="Share this page on Facebook Messenger">
    <i class="ico-facebook-messenger-badge ico--color-understated-link ico--xlarge" data-automation="facebook-messenger-share-link">
    </i>
    <span class="is-hidden-accessible">Facebook Messenger</span>
</a></li><li><a class="js-social-share " href="#" target="_blank" title="Share this page on LinkedIn">
    <i class="ico-linkedin-badge ico--color-understated-link ico--xlarge" data-automation="linkedin-share-link">
    </i>
    <span class="is-hidden-accessible">LinkedIn</span>
</a></li><li><a class="js-social-share " href="#" target="_blank" title="Share this page on Twitter">
    <i class="ico-twitter-badge ico--color-understated-link ico--xlarge" data-automation="twitter-share-link">
    </i>
    <span class="is-hidden-accessible">Twitter</span>
</a></li><li><a class="js-social-share " href="/invite-friends?utm-medium=discovery&amp;utm-campaign=social&amp;utm-content=attendeeshare&amp;utm-source=strongmail&amp;eid=37464594611" target="_blank" title="Share this page on email">
    <i class="ico-email-badge ico--color-understated-link ico--xlarge" data-automation="email-share-link">
    </i>
    <span class="is-hidden-accessible">email</span>
</a></li></ul>
    </section>
</section>
</div>
                  </div>
                  <!-- Fallback anchor for the link to the ticket area -->
                  <span id="listing-ticket"></span>
                </div>
              </div>
            </div>
        </div>
        <div class="g-cell g-cell-12-12 g-cell-md-4-12 g-offset-md-1-12 g-cell--no-gutters l-lg-pad-left-6 hide-small">
          <div class="event-details l-lg-mar-left-6 l-lg-pad-left-6">
                <h3 class="label-primary l-mar-bot-2" data-automation="listing-info-language">Date and Time</h3>
                <div class="event-details__data">
                  <meta content="2017-11-09T19:00:00-08:00">
                  <meta content="2017-11-09T21:00:00-08:00">
                  <time class="clrfix" data-automation="event-details-time">
                    <p>Thu, November 9, 2017</p>
                    <p>7:00 PM – 9:00 PM PST</p>
                      <p class="hide-small hide-medium">
                        <a class="js-add-to-calendar-modal js-d-dialog-trigger" href="#add-to-calendar-modal" data-automation="add-to-calendar" role="button" aria-haspopup="true" dorsal-guid="61ee99dc-c83d-2749-3365-7d98c88ee4d9" data-xd-wired="dialog-trigger">Add to Calendar</a>
                      </p>
                  </time>
                </div>
              <h3 class="label-primary l-mar-bot-2">Location</h3>
              <div class="event-details__data">
                <p>HelloSpace</p>
                  <p>UNIT 6-7 3671 VIKING WAY </p>
                  <p>Richmond, BC V6V 2J5 </p>
                <p>
                  <a class="js-d-scroll-to js-scroll-to-map" href="#map-target" data-d-duration="1500" data-d-destination="#map-target" dorsal-guid="0c8007f0-3d0d-3b81-a0a4-5fb5b93d7ac0" data-xd-wired="scroll-to">View Map</a>
                  <a class="js-view-map-link is-hidden" href="https://maps.google.com/maps?hl=en&amp;q=49.187121,-123.07440910000003&amp;sll=49.187121,-123.07440910000003&amp;z=13&amp;markers=49.187121,-123.07440910000003" target="_blank">View Map</a>
                </p>
              </div>
              <div class="friends-wrapper">
                <!-- Listing Who is Going -->
                <div class="js-who-is-going who-is-going">
  <div class="js-who-is-going-connect" style="">
    <h3 class="label-primary l-mar-bot-2">Friends Who Are Going</h3>
    <a href="#" class="js-fb-connect text-default fb-connect-link" role="button" data-automation="see-whos-going">
      <img class="g-img js-d-retina whos-going-icon" src="https://cdn.evbstatic.com/s3-build/perm_001/a937fc/django/images/listings/see-whos-going-facebook-icon.png" data-d-retina-src="https://cdn.evbstatic.com/s3-build/perm_001/e04b30/django/images/listings/see-whos-going-facebook-icon@2x.png " width="60" alt="" dorsal-guid="de4d48f0-fabd-f5e8-2785-b33655a4ea4f" data-xd-wired="retina">
      <span>Connect <span class="show-large">to Facebook</span></span>
    </a>
  </div>
  <div class="js-who-is-going-loading who-is-going-loading who-is-going-wobble" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list l-mar-top-2">
      <li><i class="ico-person ico--large"></i></li>
      <li><i class="ico-person ico--large"></i></li>
      <li><i class="ico-person ico--large"></i></li>
    </ul>
  </div>
  <div class="js-who-is-going-empty who-is-going-empty" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list no-friends">
      <li class="fb-friend-item no-space">
        <p class="l-mar-top-2">None yet</p>
      </li>
      <li class="fb-friend-item">
        <a href="#fb-settings-modal" class="btn btn--target is-collapsed js-d-modal js-d-tooltip single-line-tooltip" title="" data-d-disabled-in-touch="true" dorsal-guid="d8ad2e1e-2d7f-4263-e7d3-0015e7a7b2bd" data-xd-wired="modal tooltip" data-original-title="Social settings">
          <i class="ico-settings"></i><span class="btn--context">Settings</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="js-who-is-going-error who-is-going-error" style="display: none;">
    <h3 class="label-primary">Friends Attending</h3>
    <ul class="grouped-ico js-friend-list">
      <li class="fb-friend-item no-space">
        <p class="l-mar-top-2 fb-connect-error">Whoops! <span>Couldn't connect</span></p>
      </li>
      <li class="fb-friend-item">
        <a href="/social-settings" target="_blank" class="btn btn--target is-collapsed " title="Fix this problem">
          <i class="ico-settings"></i><span class="btn--context">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-listing-social-stream"></div>
  <div class="js-defer-map"></div>
</section>
  <!-- Listing Card Organizer -->
  <section id="listing-organizer" class="js-organizer-panel listing-organizer g-group l-sm-pad-vert-5 l-pad-vert-6 g-group--page-margin-reset"><div class="l-section g-cell-lg-10-12 g-offset-lg-1-12">
    <div class="g-group">
        
            <div class="g-cell g-cell-1-1 g-cell-md-10-12 g-offset-md-1-12 l-sm-pad-top-5 l-pad-top-6">
                <div class="g-group g-group--page-margin-reset l-sm-pad-top-5 l-pad-top-6">
                    
                        <div class="l-align-center l-pad-bot-1">
                            <picture content="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37402412%2F89080940963%2F2%2Flogo.png?h=80&amp;w=80&amp;s=f7c13a464681c5071e681f44d777b4f9">
                                <source srcset="
                                    https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37402412%2F89080940963%2F2%2Flogo.png?h=80&amp;w=80&amp;s=f7c13a464681c5071e681f44d777b4f9,
                                    https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37402412%2F89080940963%2F2%2Flogo.png?h=160&amp;w=160&amp;s=9a1b59347ae9b838c38f38685030ee62 2x
                                ">
                                <img class="photo js-picturefill-img image--medium" alt="Organizer Image" data-automation="organizer-logo">
                            </picture>
                        </div>
                    
                    <div class="l-align-center">
                        <h2 class="heading-secondary-responsive" data-automation="organizer-name">
                            <span class="is-hidden-accessible">Organizer: </span>
                            Spring Startup School
                        </h2>
                        <p class="l-mar-top-1 g-cell text-heading-secondary">Organizer of Networking - creating human connections in a comfortable and effective way  </p>
                    </div>
                    
                    
                        <div class="g-cell g-cell-1-1 g-cell--no-gutters ">
                            <div class="js-d-read-more read-more js-read-more read-more--medium-down read-more--expanded" dorsal-guid="71ffce4c-4a83-1ec7-1258-8c2a49260826" data-xd-wired="read-more">
                                <div class="js-xd-read-more-toggle-view read-more__toggle-view">
                                    <div class="js-xd-read-more-contents l-mar-top-3 has-user-generated-content" data-automation="organizer-description">
                                        <p>450 Spring alumni, 300 companies created, $11 million funding raised. Spring is the school for startup entrepreneurs who want to change the world.</p>
<p><span>Our goal is to help entrepreneurs everywhere change the world and do business better.&nbsp;</span></p>
                                    </div>
                                </div>
                                <div class="js-xd-read-more-toggle-director read-more__toggle-director l-pad-bot-4 l-sm-pad-bot-3">
                                    <a href="javascript://" class="read-more__more" data-read-type="ReadMore" data-checkpoint-name="read_more">Read more</a>
                                    <a href="javascript://" class="read-more__less" data-read-type="ReadLess" data-checkpoint-name="read_less">Read less</a>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="l-align-center g-cell g-cell-1-1 g-cell-lg-10-12 g-offset-lg-1-12 l-sm-pad-bot-5 l-pad-bot-6 org-panel-actions btn-group l-mar-top-2">
                <a href="https://www.eventbrite.com/o/spring-startup-school-6042897237" target="_blank" class="l-mar-top-2 btn btn--ico btn--target" data-automation="organizer-profile-link"><span class="is-hidden-accessible">Organizer</span>
                    Profile
                </a>
                
                    
                        <a href="#" class="l-mar-top-2 btn btn--ico btn--target js-contact-organizer" data-automation="organizer-contact-link">
                    
                
                    Contact
                </a>
            </div>
        
            <div class="js-organizer-related-events-container g-cell g-cell-1-1 g-cell-lg-10-12 g-offset-lg-1-12 l-mar-top-5 l-pad-bot-6">
                <h3 class="heading-secondary-responsive l-align-center">
                    More Events From This Organizer
                </h3>
                <section class="js-organizer-related-events l-mar-top-4"><div>

<div class="list-card-v2 l-mar-top-2 js-d-poster" data-share-url="https://www.eventbrite.com/e/build-a-compelling-pitch-and-perfect-it-part-1-2-nov-13-nov-21-tickets-38608077800?aff=erelpanelorg" data-share-name="Build A Compelling Pitch, and Perfect It (Part 1 &amp; 2) (Nov 13 &amp; Nov 21)" dorsal-guid="d3c19e58-490f-3a39-cea7-5f8abe6f0f1f" data-xd-wired="poster">

    <a href="https://www.eventbrite.com/e/build-a-compelling-pitch-and-perfect-it-part-1-2-nov-13-nov-21-tickets-38608077800?aff=erelpanelorg" class="
            list-card__main
            js-event-link
        
        " data-eid="38608077800" data-rank="" data-source="" data-automation="event-card">
        <div class="list-card__header">
            <div class="list-card__image" style="background-color:#8e6f50;">
                <img class="js-poster-image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36242157%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C0%2C1920%2C960&amp;s=ac691bf478c0892c15a68fb3d2ee6d4d" alt="Build A Compelling Pitch, and Perfect It (Part 1 &amp; 2) (Nov 13 &amp; Nov 21) tickets">
            </div>
            <span class="list-card__label">CA$99</span>
        </div>
        <div class="list-card__body">
            <time class="list-card__date">

    
        
                        Mon, Nov 13
                        5:30 PM
        
        
    

            </time>
            <div class="list-card__title">
                Build A Compelling Pitch, and Perfect It (Part 1 &amp; 2) (Nov 13 &amp; Nov 21)
            </div>
            <div class="list-card__venue">

                Spring, Vancouver

            </div>
        </div>
    </a>
    <div class="list-card__footer">

    
        <div class="list-card__tags">
        
            
                <a href="/d/bc--vancouver/business--events/">#Business</a>
            
        
        
            
                <a href="/d/bc--vancouver/classes/">#Class</a>
            
        
    

        </div>
        <div class="list-card__actions">
            <a href="#" class="js-share-event-card share-action" data-eid="38608077800" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a href="#" class="js-d-bookmark" data-eid="38608077800" data-bookmarked="" title="Save" data-source-page="" aria-label="Save Event" dorsal-guid="28a7373c-b3ca-2d4e-db6d-60c0d70a354c" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>
</div>
</div><div>

<div class="list-card-v2 l-mar-top-2 js-d-poster" data-share-url="https://www.eventbrite.com/e/how-to-craft-your-brand-and-rise-above-the-competition-tickets-38984781531?aff=erelpanelorg" data-share-name="How to Craft Your Brand And Rise Above the Competition" dorsal-guid="2b3f5a8b-e798-2761-1fa2-ebbb70eda803" data-xd-wired="poster">

    <a href="https://www.eventbrite.com/e/how-to-craft-your-brand-and-rise-above-the-competition-tickets-38984781531?aff=erelpanelorg" class="
            list-card__main
            js-event-link
        
        " data-eid="38984781531" data-rank="" data-source="" data-automation="event-card">
        <div class="list-card__header">
            <div class="list-card__image" style="background-color:#b6b9bb;">
                <img class="js-poster-image" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36668522%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C429%2C5358%2C2679&amp;s=0d3c8f7362da5753625df5b3f01caefc" alt="How to Craft Your Brand And Rise Above the Competition tickets">
            </div>
            <span class="list-card__label">CA$20</span>
        </div>
        <div class="list-card__body">
            <time class="list-card__date">

    
        
                        Tue, Nov 14
                        5:30 PM
        
        
    

            </time>
            <div class="list-card__title">
                How to Craft Your Brand And Rise Above the Competition
            </div>
            <div class="list-card__venue">

                Spring HQ at the AMP Coworking Space, Vancouver

            </div>
        </div>
    </a>
    <div class="list-card__footer">

    
        <div class="list-card__tags">
        
            
                <a href="/d/bc--vancouver/business--events/">#Business</a>
            
        
        
            
                <a href="/d/bc--vancouver/classes/">#Class</a>
            
        
    

        </div>
        <div class="list-card__actions">
            <a href="#" class="js-share-event-card share-action" data-eid="38984781531" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a href="#" class="js-d-bookmark" data-eid="38984781531" data-bookmarked="" title="Save" data-source-page="" aria-label="Save Event" dorsal-guid="c0364d44-8c10-1fe6-8977-ba6d4b9a82fa" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>
</div>
</div></section>
            </div>
    </div>
</div>
</section>
  <!-- Listing Card Map -->
    <div class="event-listing-footer l-sm-pad-bot-5 l-pad-bot-6">
    <h2 class="is-hidden-accessible">Map and Directions</h2>
    <section class="listing-map g-cell g-cell-1-1 g-cell--no-gutters js-listing-map" id="map-target">
      <div class="listing-map-body">
        <div class="js-map-canvas map-canvas l-align-center is-active is-recentered" data-automation="event-map-container" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default;"><div style="z-index: 1; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 180);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; position: absolute; left: 444px; top: -208px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 188px; top: -208px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 700px; top: -208px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -68px; top: -208px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 956px; top: -208px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 444px; top: 48px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 188px; top: 48px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 700px; top: 48px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -68px; top: 48px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 956px; top: 48px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 444px; top: -208px;"><canvas draggable="false" height="256" width="256" style="user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 188px; top: -208px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 700px; top: -208px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -68px; top: -208px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 956px; top: -208px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 444px; top: 48px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 188px; top: 48px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 700px; top: 48px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -68px; top: 48px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 956px; top: 48px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="position: absolute; left: 444px; top: -208px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1295!3i2806!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=115583" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 188px; top: -208px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1294!3i2806!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=80029" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 700px; top: -208px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1296!3i2806!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=20066" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -68px; top: -208px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1293!3i2806!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=44475" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 956px; top: -208px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1297!3i2806!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=55620" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 700px; top: 48px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1296!3i2807!4i256!2m3!1e0!2sm!3i398095693!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=29934" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 188px; top: 48px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1294!3i2807!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=7124" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 444px; top: 48px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1295!3i2807!4i256!2m3!1e0!2sm!3i398095681!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=69020" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 956px; top: 48px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1297!3i2807!4i256!2m3!1e0!2sm!3i398095693!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=65488" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -68px; top: 48px; transition: opacity 200ms ease-out;"><img src="https://maps.google.com/maps/vt?pb=!1m5!1m4!1i13!2i1293!3i2807!4i256!2m3!1e0!2sm!3i398095718!3m14!2sen-US!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjMzfHMuZTpsfHAudjpvZmYscy50OjF8cy5lOmcuZnxwLmM6I2ZmZjVmNWY1LHMudDoxfHMuZTpsLnR8cC5sOjE1LHMudDoxOXxzLmU6bC50LmZ8cC5sOi0xMSxzLnQ6MjB8cy5lOmx8cC52Om9uLHMudDoyMXxwLnY6c2ltcGxpZmllZCxzLnQ6NXxzLmU6Zy5mfHAuYzojZmZmNWY1ZjV8cC5sOi0xLHMudDoxMzE0fHMuZTpnLmZ8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozfHMuZTpsfHAudjpvZmZ8cC5sOjIwLHMudDo0OXxzLmU6Z3xwLnY6c2ltcGxpZmllZHxwLmM6I2ZmZmZmZmZmfHAubDoxNSxzLnQ6NDl8cy5lOmx8cC52Om9mZixzLnQ6Nzg1fHMuZTpnfHAudjpzaW1wbGlmaWVkfHAubDowfHAuaDojZmY2NTAwLHMudDo3ODV8cy5lOmx8cC52Om9mZixzLnQ6NTB8cy5lOmd8cC52OnNpbXBsaWZpZWR8cC5jOiNmZmZmZmZmZixzLnQ6NTB8cy5lOmx8cC52Om9uLHMudDo1MXxzLmU6Z3xwLnY6b24scy50OjUxfHMuZTpnLnN8cC52Om9ufHAuYzojZmZmZmZmZmZ8cC5sOjAscy50OjUxfHMuZTpsfHAudjpvZmZ8cC5sOjI4LHMudDo0fHAudjpvZmZ8cC5sOjE1LHMudDo2fHAuaDojMDA3YmZmfHAuczozMHxwLmw6NDkscy50OjZ8cy5lOmd8cC5jOiNmZjM5YzJjOXxwLnM6LTIwfHAuZzoxLjAwfHAubDo0NixzLnQ6NnxzLmU6bHxwLnY6b2Zm!4e0&amp;token=102641" draggable="false" alt="" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;" class="gm-style-pbc"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div></div><div style="z-index: 4; position: absolute; top: 0px; left: 0px; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 180);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=49.187089,-123.074341&amp;z=13&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;" alt=""><span class="is-hidden-accessible">Google Maps</span></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 390px; top: 90px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2017 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 181px; bottom: 0px; width: 131px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2017 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2017 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 104px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div style="cursor: pointer; width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;" alt=""></div><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@49.1870891,-123.0743408,13z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><div title="Zoom in" aria-label="Zoom in" tabindex="0" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;" class="js-zoom-in-btn" role="button" tabindex="0" aria-label="Zoom in"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;" alt=""></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;" class="js-zoom-out-btn" role="button" tabindex="0" aria-label="Zoom out"></div><div title="Zoom out" aria-label="Zoom out" tabindex="0" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;" alt=""></div></div></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;) 8 8, default; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; cursor: pointer; background-color: rgb(255, 255, 255); display: none;"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);"><img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;" alt=""></div></div></div></div></div></div>
      </div>
    </section>
    <section class="listing-map-footer">
<section class="listing-map-card js-listing-map-card l-align-center l-sm-pad-bot-5 l-pad-bot-6" data-automation="event-map-card" style="">
  <div class="listing-map-card-body g-cell g-cell-1-1 g-cell-lg-8-12 g-cell--no-gutters l-pad-top-6 l-pad-bot-4">
    <h2 class="listing-map-card-title text-medium">
    Networking - creating human connections in a comfortable and effective way  
    <span class="text-body-medium text-body--faint text-header-inline-as-block">at</span>
    HelloSpace
    </h2>
    <div>
    <p class="listing-map-card-street-address text-default">
        UNIT 6-7 3671 VIKING WAY, Richmond, BC V6V 2J5
    </p>
  </div>
  </div>
  <footer class="listing-map-card-footer g-cell g-cell-1-1 g-cell-lg-8-12 g-cell--no-gutters">
    <div>
      <ul class="grouped-ico">
        <li>
          <a href="https://maps.google.com?saddr=Current+Location&amp;daddr=49.187121,-123.07440910000003&amp;driving" target="_blank" class="btn btn--target is-collapsed js-drive-directions-link btn--invert" title="View directions by car in Google Maps">
            <i class="ico-car"></i><span class="btn--context">By Car</span>
          </a>
        </li>
        <li>
          <a href="https://maps.google.com?saddr=Current+Location&amp;dirflg=w&amp;daddr=49.187121,-123.07440910000003" target="_blank" class="btn btn--target is-collapsed js-walk-directions-link btn--invert" title="View walking directions in Google Maps">
            <i class="ico-walking"></i><span class="btn--context">Walking</span>
          </a>
        </li>
        <li>
          <a href="https://maps.google.com?saddr=Current+Location&amp;dirflg=r&amp;daddr=49.187121,-123.07440910000003&amp;mode=transit" target="_blank" class="btn btn--target is-collapsed js-transit-directions-link btn--invert" title="View directions by public transportation in Google Maps">
            <i class="ico-public-transit"></i><span class="btn--context">Public Transport</span>
          </a>
        </li>
        <li>
          <a href="https://maps.google.com?saddr=Current+Location&amp;dirflg=b&amp;daddr=49.187121,-123.07440910000003&amp;mode=bicycling" target="_blank" class="btn btn--target is-collapsed js-bike-directions-link btn--invert" title="View directions by bike in Google Maps">
            <i class="ico-bike"></i><span class="btn--context">Bike</span>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</section>
    </section>
  </div>
</div>
    </div>
      <section class="listing-related-events g-grid g-grid--page-margin-manual">
    <div class="g-cell g-cell-1-1 g-cell--no-gutters related-events js-related-events l-pad-bottom-3 show"><div class="g-group">
  <div class="g-cell g-cell-1-1 g-cell--no-gutters l-align-center l-mar-top-5">
    <h2 class="heading-secondary-responsive related-events-title text--truncated l-mar-top-6" data-automation="related-events-header">
        Other Events You May Like
    </h2>
  </div>

  

</div>




<section class="js-event-list event-list  l-mar-top-2"><nav class="js-scroll-control js-scroll-control-left scroll-control scroll-control-left" style="display: none;">
        <i class="ico-arrow-left ico--xlarge"></i>
    </nav><nav class="js-scroll-control js-scroll-control-right scroll-control scroll-control-right">
        <i class="ico-arrow-right ico--xlarge"></i>
    </nav><div class="scroll-wrapper"><div class="scrollable-area" style="width: 2780px;">
    
    
    
    
<div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/ideation-workshop-tickets-37464935631?aff=erellivmlt" data-share-name="Ideation Workshop" dorsal-guid="d5b2c6ce-e27c-6624-9d5b-7c2dcbd9ac67" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/ideation-workshop-tickets-37464935631?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="37464935631" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image">
                <img class="js-poster-image" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34805055%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C89%2C1920%2C960&amp;s=7e643c4c4095439c96cf94e56ff12ffa" alt="Ideation Workshop tickets" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F34805055%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C89%2C1920%2C960&amp;s=7e643c4c4095439c96cf94e56ff12ffa">
            </div>




    <span class="poster-card__label">Free</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Thu, Dec 14
                    7:00 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Ideation Workshop
            </div>
            <div class="poster-card__venue">

                HelloSpace, Richmond

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--richmond/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--richmond/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="37464935631" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="37464935631" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="6538e043-bd79-50e4-43b9-8117ee405531" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/workflow-automation-101-accomplish-more-and-work-less-tickets-39709233386?aff=erellivmlt" data-share-name="Workflow Automation 101: Accomplish More and Work Less" dorsal-guid="bf335928-641e-a6ff-302a-3eb88444f3d3" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/workflow-automation-101-accomplish-more-and-work-less-tickets-39709233386?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="39709233386" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image">
                <img class="js-poster-image" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37535903%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C0%2C1024%2C512&amp;s=e9914983fd7bff88cb64cec53a3bc80a" alt="Workflow Automation 101: Accomplish More and Work Less tickets" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37535903%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C0%2C1024%2C512&amp;s=e9914983fd7bff88cb64cec53a3bc80a">
            </div>




    <span class="poster-card__label">CA$20</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Mon, Nov 27
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Workflow Automation 101: Accomplish More and Work Less
            </div>
            <div class="poster-card__venue">

                Spring, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="39709233386" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="39709233386" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="4106c177-28bf-a447-c828-3361bbbdd817" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/how-to-find-customers-that-will-grow-your-business-part-1-2-tickets-39050838108?aff=erellivmlt" data-share-name="How To Find Customers That Will Grow Your Business (Part 1 &amp; 2)" dorsal-guid="fdf2a308-64b4-63e7-1ecb-7461af7b08fe" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/how-to-find-customers-that-will-grow-your-business-part-1-2-tickets-39050838108?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="39050838108" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image" style="background-color:#9b8f7c;">
                <img class="js-poster-image" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36755251%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C386%2C4632%2C2316&amp;s=cd9acb583c97a49489f7fd9c429ed62d" alt="How To Find Customers That Will Grow Your Business (Part 1 &amp; 2) tickets" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36755251%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C386%2C4632%2C2316&amp;s=cd9acb583c97a49489f7fd9c429ed62d">
            </div>




    <span class="poster-card__label">CA$99</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Mon, Nov 20
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                How To Find Customers That Will Grow Your Business (Part 1 &amp; 2)
            </div>
            <div class="poster-card__venue">

                Spring, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="39050838108" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="39050838108" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="fd3b6aed-ee7d-84c3-6b39-c60bdcc8b55e" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/how-to-sell-effectively-without-feeling-like-a-jerk-tickets-38616671504?aff=erellivmlt" data-share-name="How To Sell Effectively Without Feeling Like A Jerk" dorsal-guid="6f978a00-62a9-0edd-1746-cc6d76f0a1d4" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/how-to-sell-effectively-without-feeling-like-a-jerk-tickets-38616671504?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="38616671504" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image" style="background-color:#ffffff;">
                <img class="js-poster-image" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36246988%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=306%2C0%2C850%2C425&amp;s=f8cc0b8c9f4ffb7e8d47e947fb686927" alt="How To Sell Effectively Without Feeling Like A Jerk tickets" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36246988%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=306%2C0%2C850%2C425&amp;s=f8cc0b8c9f4ffb7e8d47e947fb686927">
            </div>




    <span class="poster-card__label">CA$99</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Sat, Nov 25
                    10:00 AM
        
        
    

            </time>
            <div class="poster-card__title">
                How To Sell Effectively Without Feeling Like A Jerk
            </div>
            <div class="poster-card__venue">

                Spring HQ, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="38616671504" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="38616671504" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="94514c96-e5f2-5964-d6ed-a02d782e5d37" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/funding-workshop-learn-the-abcs-of-funding-for-your-round-tickets-39269581375?aff=erellivmlt" data-share-name="Funding Workshop: Learn The ABC’s Of Funding For Your Round" dorsal-guid="cc7e2bb4-4590-aeb0-c540-5426d45d4448" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/funding-workshop-learn-the-abcs-of-funding-for-your-round-tickets-39269581375?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="39269581375" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image" style="background-color:#9ca4af;">
                <img class="js-poster-image" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37024852%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C161%2C5616%2C2808&amp;s=7249bb29cbf0600f2afbb352e21ec268" alt="Funding Workshop: Learn The ABC’s Of Funding For Your Round tickets" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37024852%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C161%2C5616%2C2808&amp;s=7249bb29cbf0600f2afbb352e21ec268">
            </div>




    <span class="poster-card__label">CA$299</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Sat, Jan 27
                    10:00 AM
        
        
    

            </time>
            <div class="poster-card__title">
                Funding Workshop: Learn The ABC’s Of Funding For Your Round
            </div>
            <div class="poster-card__venue">

                Spring, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="39269581375" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="39269581375" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="8612854a-b3e0-a674-1c6e-1226700d33a4" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/dig-deep-into-your-data-and-optimize-your-operations-tickets-38613316469?aff=erellivmlt" data-share-name="Dig Deep Into Your Data, and Optimize Your Operations" dorsal-guid="2cbeb929-e0c0-c561-36ba-21713d11901d" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/dig-deep-into-your-data-and-optimize-your-operations-tickets-38613316469?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="38613316469" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image">
                <img class="js-poster-image is-hidden" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37216679%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C0%2C1024%2C512&amp;s=6a192568d54d9414356e05185a7b52a3" alt="Dig Deep Into Your Data, and Optimize Your Operations tickets">
            </div>




    <span class="poster-card__label">CA$20</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Thu, Nov 16
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Dig Deep Into Your Data, and Optimize Your Operations
            </div>
            <div class="poster-card__venue">

                Spring (Buzzer #9020), Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="38613316469" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="38613316469" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="7bc3c7ac-80d6-dcbd-e60c-3a5b8bd4e084" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/craft-an-investor-ready-due-diligence-package-tickets-38616625366?aff=erellivmlt" data-share-name="Craft An Investor-Ready Due Diligence Package" dorsal-guid="fefea828-c90e-63a3-2992-3015aada7bfb" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/craft-an-investor-ready-due-diligence-package-tickets-38616625366?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="38616625366" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image" style="background-color:#b7a096;">
                <img class="js-poster-image is-hidden" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F36242693%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C858%2C5152%2C2576&amp;s=fc75e029fff4744c9cd2a9f4f984e288" alt="Craft An Investor-Ready Due Diligence Package tickets">
            </div>




    <span class="poster-card__label">CA$20</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Thu, Nov 23
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Craft An Investor-Ready Due Diligence Package
            </div>
            <div class="poster-card__venue">

                Spring HQ at the AMP (Buzzer #9020), Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="38616625366" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="38616625366" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="0debebb1-a985-e915-6a5c-1e4e92ae757f" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/spring-holiday-market-and-community-celebration-tickets-39358728015?aff=erellivmlt" data-share-name="Spring Holiday Market and Community Celebration " dorsal-guid="372543fe-9499-c1b8-8a77-df63928df689" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/spring-holiday-market-and-community-celebration-tickets-39358728015?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="39358728015" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image" style="background-color:#979282;">
                <img class="js-poster-image is-hidden" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37121201%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C249%2C1920%2C960&amp;s=da52031f341037d96834d04ca128b05a" alt="Spring Holiday Market and Community Celebration  tickets">
            </div>




    <span class="poster-card__label">Free</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Wed, Dec 13
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Spring Holiday Market and Community Celebration 
            </div>
            <div class="poster-card__venue">

                Mobify, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/networking/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Networking</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="39358728015" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="39358728015" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="707b134d-d015-8aeb-855e-7b7518713ea2" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div><div class="scroll-item l-pad-vert-1"><div class="poster-card js-d-poster" data-share-url="https://www.eventbrite.com/e/maximize-online-sales-conversions-tickets-39360851366?aff=erellivmlt" data-share-name="Maximize Online Sales Conversions " dorsal-guid="2c538d90-fbab-ba43-e19d-da56e3c071ba" data-xd-wired="poster">
    <a href="https://www.eventbrite.com/e/maximize-online-sales-conversions-tickets-39360851366?aff=erellivmlt" class="
            poster-card__main
            js-event-link
        
            js-xd-janus-checkpoint-link
        
        " data-type="" data-source="" data-rank="" data-eid="39360851366" data-checkpoint-name="click_RE_new_listing" data-automation="event-card">
        <div class="poster-card__header">
            <div class="poster-card__image">
                <img class="js-poster-image is-hidden" data-src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F37123459%2F89080940963%2F1%2Foriginal.jpg?h=230&amp;w=460&amp;rect=0%2C0%2C1024%2C512&amp;s=37a7914e66099161ef0d42e921fe7864" alt="Maximize Online Sales Conversions  tickets">
            </div>




    <span class="poster-card__label">CA$20</span>

        </div>
        <div class="poster-card__body">
            <time class="poster-card__date">

    
        
                    Tue, Jan 23
                    5:30 PM
        
        
    

            </time>
            <div class="poster-card__title">
                Maximize Online Sales Conversions 
            </div>
            <div class="poster-card__venue">

                Spring, Vancouver

            </div>
        </div>
    </a>
    <div class="poster-card__footer">

    
        <div class="poster-card__tags">
        
            
                <a class="event-category" href="/d/bc--vancouver/business--events/" aria-label="${ mark_safe(_('Find {name} events').format(name=category.short_name)) }">#Business</a>
            
        
        
            
                <a class="event-format" href="/d/bc--vancouver/classes/" aria-label="${ mark_safe(_('Find {name} events').format(name=format.short_name)) }">#Class</a>
            
        
    

        </div>
        <div class="poster-card__actions">
            <a class="js-share-event-card share-action" href="#" data-eid="39360851366" title="Share" aria-haspopup="true">
                <i class="ico-share ico--medium"></i>
                <span class="is-hidden-accessible">Share this event</span>
            </a>
            <a class="js-d-bookmark" data-eid="39360851366" data-bookmarked="" title="Save" data-source-page="" href="#" aria-label="Save Event" dorsal-guid="cf6b8345-192b-e633-ee9b-09195e89c7d8" data-xd-wired="bookmark">
                <i class="ico-bookmark ico--medium"></i>
            </a>
        </div>
    </div>

</div>
</div></div></div></section>


</div>
  </section>
  </div>
    <!-- Event Expired Events V2 -->
<div id="bookmark-login-popup" class="omnes g-cell g-cell--no-gutters g-cell-1-1 g-cell-md-6-12 g-cell-lg-4-12 mfp-hide">
  <h1 class="modal__heading">Save This Event</h1>
  <div class="modal__body l-align-center">
    <div>Log in or sign up for Eventbrite to save events you're interested in.</div>
    <div class="l-pad-vert-2">
      <a href="/signup/?" class="js-bookmark-signup btn btn--block l-pad-vert-2" style="color:#fff;">
        Sign Up
      </a>
    </div>
    <div class="text-body-small">Already have an account? <a class="js-bookmark-login" href="/login/?">Log in</a></div>
  </div>
</div>
<div id="bookmark-success-popup" class="omnes g-cell g-cell--no-gutters g-cell-1-1 g-cell-md-6-12 g-cell-lg-4-12 mfp-hide">
  <h1 class="modal__heading">Event Saved</h1>
  <div class="modal__body">
    <div class="l-pad-vert-3 l-align-center">
      <i class="ico-circle-checkmark ico--color-brand-dark-green" style="font-size: 140px;"></i>
    </div>
  </div>
</div>
    </main>

    </div>
  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Dashboard'
  import moment from 'moment'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function () {
        let payload = {url: 'api/proposal/list', parameters: {status: 'is_actived', typeOfProposal: 'for_sale'}}
        this.$store.dispatch('form/findAll', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
