@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400);
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #f8f8f8;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: 1170px;
  margin: 102px auto 102px;
  background-color: #ffffff;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
  max-height: 874px;
  overflow: hidden;
}

.container {
  width: 1187px;
  float: left;
  height: 874px;
  overflow-y: scroll;
}

header {
  height: 60px;
  width: 100%;
  padding: 12px 30px;
  border-bottom: 1px solid #e6e6e6;
}
header .logo {
  display: block;
  float: left;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  text-transform: lowercase;
  margin-top: 7px;
}
header .logo img {
  vertical-align: middle;
}
header .logo span {
  padding-left: 8px;
  letter-spacing: 1px;
}
header .logo:hover span {
  color: #0000ff;
}
header .right {
  display: block;
  float: right;
}
header .right input {
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d9d9d9;
  width: 285px;
  height: 36px;
  padding-left: 17px;
  margin-right: 50px;
  color: #999999;
}
header .right input::-webkit-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 14px;
}
header .right input:-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 14px;
}
header .right input::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 14px;
}
header .right input:-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 14px;
}
header .right input:focus {
  outline: none;
}
header .right input:focus::-webkit-input-placeholder {
  color: transparent;
}
header .right input:focus:-moz-placeholder {
  color: transparent;
}
header .right input:focus::-moz-placeholder {
  color: transparent;
}
header .right input:focus:-ms-input-placeholder {
  color: transparent;
}
header .right a {
  color: #999999;
  font-size: 14px;
  text-decoration: none;
  padding: 0 5px;
}
header .right a:last-child {
  padding-right: 0;
}
header .right a.active {
  color: #0000ff;
}

aside {
  width: 315px;
  padding: 29px 30px 0;
  text-align: center;
  float: left;
}
aside .profile-image {
  margin-bottom: 27px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
aside h1 {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
aside .description {
  color: #999999;
  display: block;
  font-size: 14px;
  margin-bottom: 22px;
}
aside .link {
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-bottom: 28px;
  color: #0000ff;
  font-weight: 600;
}
aside .follow {
  background-color: #f2f2f2;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  color: #1a1a1a;
  font-weight: 600;
  text-decoration: none;
  width: 125px;
  text-align: center;
  padding: 10px 0;
  display: block;
  margin: 0 auto 30px;
}
aside .follow:hover {
  text-decoration: underline;
}
aside .social li {
  margin-bottom: 30px;
}
aside .social li:before {
  content: '';
  background-color: #e6e6e6;
  width: 65px;
  height: 1px;
  margin: 0 auto 28px;
  display: block;
}
aside .social li a {
  display: block;
}
aside .social li a img {
  display: block;
  margin: 0 auto;
}
aside .social li span {
  display: block;
}
aside .social li span:first-child {
  text-transform: uppercase;
  color: #999999;
  font-size: 12px;
  margin-bottom: 8px;
}
aside .social li span:nth-child(2) {
  font-size: 30px;
  color: #1a1a1a;
  font-weight: 600;
}

.content {
  border-left: 1px solid #e6e6e6;
  min-height: 300px;
  float: left;
  width: 855px;
}
.content article {
  padding: 30px 0 27px;
  margin: 0 29px;
  border-bottom: 1px solid #e6e6e6;
  width: -moz-calc(100% - 60px);
  width: -webkit-calc(100% - 60px);
  width: -o-calc(100% - 60px);
  width: calc(100% - 60px);
  float: left;
}
.content article:last-child {
  border: none;
}
.content article .thumbnail {
  width: 320px;
  height: auto;
  float: left;
}
.content article .post {
  margin-left: 30px;
  float: left;
  width: 444px;
}
.content article .post .info {
  width: 100%;
  display: block;
}
.content article .post .info .author {
  float: left;
}
.content article .post .info .author img {
  width: 30px;
  height: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  float: left;
}
.content article .post .info .author h5 {
  color: #0000ff;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 2px;
}
.content article .post .info .author .time {
  font-size: 12px;
  color: #999999;
  display: block;
}
.content article .post .info .author:hover h5 {
  text-decoration: underline;
}
.content article .post .info .numbers {
  float: right;
  padding-top: 4px;
}
.content article .post .info .numbers a {
  display: inline-block;
  color: #999999;
  text-decoration: none;
}
.content article .post .info .numbers a img {
  float: left;
  vertical-align: middle;
  margin-right: 7px;
}
.content article .post .info .numbers a:not(first-child) {
  margin-left: 18px;
}
.content article .post .info .numbers a:hover {
  color: #0000ff;
}
.content article .post .post-about {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.content article .post .post-about h3 {
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 8px;
  display: inline-block;
}
.content article .post .post-about h3:hover {
  border-bottom: 2px solid #1a1a1a;
  margin-bottom: 6px;
}
.content article .post .post-about p {
  font: "Lora", serif;
  color: #1a1a1a;
  font-size: 15px;
  line-height: 24px;
}
.content article .post .post-about a {
  text-decoration: none;
}
.content article .post .post-about a.read-more {
  color: #0000ff;
  display: block;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 13px;
}
.content article .post .post-about a.read-more:hover {
  text-decoration: underline;
}
.content article > a:hover + .post h3 {
  border-bottom: 2px solid #1a1a1a;
  margin-bottom: 6px;
}
