<template>

  <div class="login-wrapper ">

    <div class="bg-pic">
<a href="/">
      <img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" data-src-retina="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
</a>
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <h2 class="semi-bold text-white">
Pages make it easy to enjoy what matters the most in the life</h2>
        <p class="small">
          images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
        </p>
      </div>

    </div>

    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <img src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo.png" alt="logo" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
        <p class="p-t-35">Sign into your pages account</p>
        <!-- Content will be placed here -->
        <slot></slot>
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 col-md-2 no-padding">
              <img alt="" class="m-t-5" data-src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60" src="http://pages.revox.io/dashboard/3.0.0/html/simply_white/assets/img/demo/pages_icon.png" width="60">
            </div>
            <div class="col-sm-9 no-padding m-t-10">
              <p>
                <small>
Create a pages account. If you have a facebook account, log into it for this
process. Sign in with <a href="#" class="text-info">Facebook</a> or <a href="#" class="text-info">Google</a>
</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  /* ============
   * Login / Register Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'login-layout'
  }
</script>
