<template>
  <v-layout>
<p class="p-t-35">Sign into your pages account</p>


<form @submit.prevent="login(user)" id="form-login" class="p-t-15" role="form">

<div class="form-group form-group-default">
<label>Login</label>
<div class="controls">
<input
                v-model="user.username"
                type="text"
                placeholder="Email"
                class="form-control"
              >
</div>
</div>


<div class="form-group form-group-default">
<label>Password</label>
<div class="controls">
<input
                v-model="user.password"
                type="password"
                placeholder="Password"
                class="form-control"
              >
</div>
</div>

<div class="row">
<div class="col-md-6 no-padding sm-p-l-10">
<div class="checkbox ">
<input type="checkbox" value="1" id="checkbox1">
<label for="checkbox1">Keep Me Signed in</label>
</div>
</div>
<div class="col-md-6 d-flex align-items-center justify-content-end">
<a href="#" class="text-info small">Help? Contact Support</a>
</div>
</div>

<button class="btn btn-primary btn-cons m-t-10" type="submit">Sign in</button>
</form>

  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from 'layouts/Plain'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        user: {
          username: null,
          password: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      login: function (user) {
        this.$store.dispatch('auth/login', user)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
