<template>
<v-layout>
<div class="row" style=" margin-top: 20px;">
<div class="col-lg-3">fewfea</div>
<div class="col-lg-9">

<div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/sophisticated-residence/" class="card" id="card-309">
                        <div class="figure">
                                                            <div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div>
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/02/img-prop-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$799,000 </div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 0</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Sale</div>
                                                    </div>
                        <h2>Sophisticated Residence</h2>
                        <div class="cardAddress">
                            600 40th Ave, Richmond District, San Francisco<br>CA, 94121, United States                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 2</li>
                                                                                        <li><span class="icon-drop"></span> 3</li>
                                                                                        <li><span class="icon-frame"></span> 1270 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/luxury-mansion/" class="card" id="card-312">
                        <div class="figure">
                                                            <div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div>
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-5-1024x576-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$3,400 /mo</div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 2</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Rent</div>
                                                    </div>
                        <h2>Luxury Mansion</h2>
                        <div class="cardAddress">
                            10 Romain St, Twin Peaks, San Francisco<br>CA, 123456, Romania                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 2</li>
                                                                                        <li><span class="icon-drop"></span> 1</li>
                                                                                        <li><span class="icon-frame"></span> 1220 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/elegant-apartment/" class="card" id="card-174">
                        <div class="figure">
                                                            <div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><span class="fa fa-star"></span></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div>
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-4-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$895,000 </div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 2</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Sale</div>
                                                    </div>
                        <h2>Elegant Apartment</h2>
                        <div class="cardAddress">
                            1485 Guerrero St, Noe Valley, San Francisco<br>CA, 94110, United States                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 2</li>
                                                                                        <li><span class="icon-drop"></span> 1</li>
                                                                                        <li><span class="icon-frame"></span> 1200 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/modern-residence/" class="card" id="card-313">
                        <div class="figure">
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-1-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$1,200,000 </div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 1</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Sale</div>
                                                    </div>
                        <h2>Modern Residence</h2>
                        <div class="cardAddress">
                            547 35th Ave, Richmond District, San Francisco<br>CA, 94121, United States                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 4</li>
                                                                                        <li><span class="icon-drop"></span> 4</li>
                                                                                        <li><span class="icon-frame"></span> 2225 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/futuristic-apartment/" class="card" id="card-172">
                        <div class="figure">
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2015/01/blog-4-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$5,400 /mo</div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 2</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Rent</div>
                                                    </div>
                        <h2>Futuristic Apartment</h2>
                        <div class="cardAddress">
                            333 Bush St #3804, Financial District, San Francisco<br>CA, 94104, United States                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 2</li>
                                                                                        <li><span class="icon-drop"></span> 2</li>
                                                                                        <li><span class="icon-frame"></span> 1510 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="http://mariusn.com/themes/reales-wp/properties/stylish-apartment/" class="card" id="card-167">
                        <div class="figure">
                                                        <div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-3-600x400.jpg);"></div>
                            <div class="figCaption">
                                                                <div>$4,800 /mo</div>
                                                                <span><span class="icon-eye"></span> 9999+</span>
                                                                <span><span class="icon-heart"></span> 1</span>
                                <span><span class="icon-bubble"></span> 1</span>
                            </div>
                            <div class="figView"><span class="icon-eye"></span></div>
                                                            <div class="figType">For Rent</div>
                                                    </div>
                        <h2>Stylish Apartment</h2>
                        <div class="cardAddress">
                            2200 Pacific Ave #7D, Pacific Heights, San Francisco<br>CA, 94115, United States                        </div>
                        <ul class="cardFeat">
                                                            <li><span class="fa fa-moon-o"></span> 2</li>
                                                                                        <li><span class="icon-drop"></span> 2</li>
                                                                                        <li><span class="icon-frame"></span> 1850 sq ft</li>
                                                    </ul>
                        <div class="clearfix"></div>
                    </a>
                </div>
                        </div>

</div>


</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from 'transformers/ProposalTransformer'
  import VLayout from 'layouts/Dashboard'
  import * as constants from 'constants/'
  import NumeralInput from 'components/NumeralInput'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: null,
          priceMaximum: null,
          size: null
        },
        showModal: false,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/proposal/new', data: Transformer.send(this.model)}
        this.$store.dispatch('form/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('rest/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      message: function () {
        let message = this.$store.state.message
        if (this.$store.state.message.display) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      NumeralInput,
      VLayout
    }
  }
</script>
